<div #headerElement class="ft-page__header">
  <div class="ft-actions">
    <button type="button" matIconButton i18n-title title="Back" routerLink="/">
      <ft-icon name="arrow-left" class="text-2xl" />
    </button>
  </div>
  <div i18n>Settings</div>
  <div class="ft-actions"></div>
</div>
<div class="ft-page__content ft-anim-enter">
  <div class="ft-container">
    <div class="ft-list">
      @if (session.settings()) {
        <div class="ft-list__item">
          <div class="flex gap-4 items-center">
            <ft-avatar
              [label]="
                session.settings()?.user?.firstName + ' ' + session.settings()?.user?.lastName
              "
              [src]="session.settings()?.user?.picture"
            />
            <div>
              <div class="ft-item__label">
                {{ session.settings()?.user?.firstName }}
                {{ session.settings()?.user?.lastName }}
              </div>
              <div class="text-sm text-gray-400">
                {{ session.settings()?.user?.email }}
              </div>
            </div>
          </div>
        </div>
      }
      <a routerLink="/settings/language" matButton class="ft-list__item">
        <div class="flex gap-4 items-center">
          <div class="ft-thumbnail">
            <ft-icon name="globe" class="text-2xl" />
          </div>
          <div>
            <div class="ft-item__label" i18n>Language</div>
            <div class="text-sm text-gray-400">{{ language().name }}</div>
          </div>
        </div>
      </a>
      <button type="button" matButton class="ft-list__item" (click)="authManager.changePassword()">
        <div class="flex gap-4 items-center">
          <div class="ft-thumbnail">
            <ft-icon name="password-edit" class="text-2xl" />
          </div>
          <div class="ft-item__label" i18n>Change password</div>
        </div>
      </button>
      <hr class="my-2" />
      <button type="button" matButton #supportButton class="ft-list__item">
        <div class="flex gap-4 items-center">
          <div class="ft-thumbnail">
            <ft-icon name="help" class="text-2xl" />
          </div>
          <div class="ft-item__label" i18n>Support</div>
        </div>
      </button>
      <button type="button" matButton class="ft-list__item">
        <div class="flex gap-4 items-center">
          <div class="ft-thumbnail">
            <ft-icon name="document--text" class="text-2xl" />
          </div>
          <div class="ft-item__label" i18n>Terms and Conditions</div>
        </div>
      </button>
      <button type="button" matButton class="ft-list__item">
        <div class="flex gap-4 items-center">
          <div class="ft-thumbnail">
            <ft-icon name="document--text" class="text-2xl" />
          </div>
          <div class="ft-item__label" i18n>Privacy Policies</div>
        </div>
      </button>
      <hr class="my-2" />
      <button type="button" matButton class="ft-list__item" (click)="authProvider.logout()">
        <div class="flex gap-4 items-center">
          <div class="ft-thumbnail">
            <ft-icon name="sign-out" class="text-2xl" />
          </div>
          <div class="ft-item__label" i18n>Sign out</div>
        </div>
      </button>
      <button
        type="button"
        matButton
        class="ft-list__item text-red-500"
        (click)="authManager.confirmDeleteUser()"
      >
        <div class="flex gap-4 items-center">
          <div class="ft-thumbnail">
            <ft-icon name="error" class="text-2xl text-red-500" />
          </div>
          <div class="ft-item__label" i18n>Delete account</div>
        </div>
      </button>
    </div>
    <hr class="my-2" />
    <div class="m-2">
      <div class="flex items-center gap-4">
        @if (appManager.updateStatus() === 'done') {
          <div class="ft-thumbnail">
            <ft-icon name="check--circle" class="text-2xl text-green-500" />
          </div>
          <div class="flex-1">
            <div class="ft-item__label" i18n>{{ appName }} is up to date</div>
            <div class="text-sm text-gray-400" i18n>Version {{ appVersion }}</div>
          </div>
        } @else if (appManager.updateStatus() === 'checking') {
          <div class="ft-thumbnail">
            <ft-progress class="ft-progress--2" />
          </div>
          <div class="flex-1">
            <div class="ft-item__label" i18n>Looking for updates</div>
            <div class="text-sm text-gray-400" i18n>Version {{ appVersion }}</div>
          </div>
        } @else if (appManager.updateStatus() === 'failed') {
          <div class="ft-thumbnail">
            <ft-icon name="warning" class="text-2xl text-yellow-500" />
          </div>
          <div class="flex-1">
            <div class="ft-item__label" i18n>Error checking for updates</div>
            <div class="text-sm text-gray-400" i18n>Version {{ appVersion }}</div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
