<form [formGroup]="form" (ngSubmit)="submit()">
  <div mat-dialog-content class="pb-0">
    <p class="mb-4" i18n>
      Enter your email address to recieve reset instructions. You may need to check your spam
      folder.
    </p>
    <div class="grid grid-cols-1 gap-y-2 gap-x-4">
      <mat-form-field>
        <mat-label i18n>Email address</mat-label>
        <input type="email" matInput formControlName="email" maxlength="180" />
        @if (form.get('email')?.invalid && form.get('email')?.touched) {
          <mat-error>{{ form.get('email') | errorMessage }}</mat-error>
        }
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button type="button" matButton [disabled]="submitting()" mat-dialog-close i18n>Cancel</button>
    <button type="submit" matButton="filled" color="primary" [disabled]="submitting()">
      @if (!submitting()) {
        <span i18n>Submit</span>
      } @else {
        <ng-container *ngTemplateOutlet="submittingTemplate" />
      }
    </button>
  </div>
</form>
<ng-template #submittingTemplate>
  <div class="text-center">
    <ft-progress class="ft-progress--2" />
  </div>
</ng-template>
