<form [formGroup]="form" (ngSubmit)="submit()" class="ft-auth__reset m-auto p-4">
  <div class="mb-4">
    <div class="ft-logo"></div>
    <div class="mb-4">
      <h1 i18n>Choose a new password</h1>
    </div>
    @if (!passwordVisible()) {
      <mat-form-field appearance="fill" class="mb-2">
        <mat-label i18n>Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          maxlength="16"
          autocomplete="current-password"
        />
        @if (!submitting()) {
          <button
            type="button"
            matSuffix
            mat-icon-button
            (click)="togglePasswordVisible()"
            i18n-title
            title="View"
          >
            <ft-icon name="eye" class="ft-icon--2"></ft-icon>
          </button>
        }
        @if (form.get('password')?.invalid) {
          <mat-error>{{ form.get('password') | errorMessage }}</mat-error>
        }
      </mat-form-field>
    }
    @if (passwordVisible()) {
      <mat-form-field appearance="fill" class="mb-2">
        <mat-label i18n>Password</mat-label>
        <input type="text" matInput formControlName="password" maxlength="16" autocomplete="off" />
        @if (!submitting()) {
          <button
            type="button"
            matSuffix
            mat-icon-button
            (click)="togglePasswordVisible()"
            i18n-title
            title="Hide"
          >
            <ft-icon name="eye--strike-through" class="ft-icon--2"></ft-icon>
          </button>
        }
        @if (form.get('password')?.invalid) {
          <mat-error>{{ form.get('password') | errorMessage }}</mat-error>
        }
      </mat-form-field>
    }
    <mat-form-field appearance="fill" class="mb-2">
      <mat-label i18n>Confirm password</mat-label>
      <input type="password" matInput formControlName="confirmPassword" />
      @if (form.get('confirmPassword')?.invalid) {
        <mat-error>{{
          form.get('confirmPassword') | errorMessage: { notEqual: notEqualMessage }
        }}</mat-error>
      }
    </mat-form-field>
    <div class="flex flex-col mb-4 justify-center gap-4">
      <button
        type="submit"
        mat-flat-button
        color="primary"
        style="min-width: 100px"
        [disabled]="!form.valid || submitting()"
      >
        @if (!submitting()) {
          <span i18n>Submit</span>
        } @else {
          <ng-container *ngTemplateOutlet="submittingTemplate" />
        }
      </button>
    </div>
  </div>
</form>
<ng-template #submittingTemplate>
  <div class="text-center">
    <ft-progress class="ft-progress--2"></ft-progress>
  </div>
</ng-template>
