@if (appService.allowSignup) {
<div class="ft-auth__info">
  <div class="ft-logo__wrapper">
    <div class="ft-logo"></div>
  </div>
  @if (!mode()) {
  <div class="ft-actions">
    @if (appService.allowAuthFederation) {
    <button
      type="button"
      mat-stroked-button
      (click)="connect('google')"
      [disabled]="submitting()"
    >
      <div class="ft-item">
        <img src="images/logo-google.svg" alt="" />
        <div i18n>Continue with Google</div>
      </div>
    </button>
    }
    <button
      type="button"
      mat-stroked-button
      [matMenuTriggerFor]="menu"
      [disabled]="submitting()"
    >
      <div class="ft-item">
        <ft-icon name="envelope-closed" class="ft-icon--2" />
        <div i18n>Continue with Email</div>
      </div>
    </button>
    <mat-menu #menu="matMenu" class="ft-auth-menu">
      <button type="button" mat-menu-item routerLink="/signin">
        <div class="ft-d-f ft-ai-c ft-g-2">
          <ft-icon name="lock-unlocked" class="ft-icon--2"></ft-icon>
          <div i18n>Sign in</div>
        </div>
      </button>
      <button type="button" mat-menu-item routerLink="/signup">
        <div class="ft-d-f ft-ai-c ft-g-2">
          <ft-icon name="sun" class="ft-icon--2"></ft-icon>
          <div i18n>Sign up</div>
        </div>
      </button>
    </mat-menu>
  </div>
  <div class="ft-terms" [class.ft-disabled]="submitting()" i18n>
    If you continue with the service, you agree to our
    <a
      href="javascript://"
      (click)="appService.openPage('8a1b8db9-9d9d-41a3-8ab9-d54771f4a13d')"
      >Terms and Conditions</a
    >
    and
    <a
      href="javascript://"
      (click)="appService.openPage('45cc8cfb-8667-44d1-81f4-1c1bdb939cd8')"
      >Privacy Policies</a
    >.
  </div>
  }
</div>
} @if (mode() === 'signin' || !appService.allowSignup) {
<form
  [formGroup]="signinForm"
  (ngSubmit)="submitSignin()"
  class="ft-auth__signin ft-m-auto ft-p-4"
>
  <div class="ft-mbe-4" [class.ft-anim-shake]="errorMessage()">
    <div class="ft-logo ft-d-md-n"></div>
    <div class="ft-mb-4">
      <h1 i18n>Sign in</h1>
      @if (appService.allowSignup) {
      <p class="ft-tc-muted" style="font-size: var(--ft-text-font-size-md)">
        <span i18n>Don't have an account?</span>
        @if (!submitting()) {
        <a routerLink="/signup" class="ft-mis-2" i18n>Create an account</a>
        }
      </p>
      }
    </div>
    @if (appService.allowAuthFederation) {
    <div class="ft-actions">
      <button
        type="button"
        mat-stroked-button
        class="ft-d-b ft-pb-1"
        (click)="connect('google')"
        [disabled]="submitting()"
      >
        <div class="ft-item">
          <img src="images/logo-google.svg" alt="" />
          <div i18n>Continue with Google</div>
        </div>
      </button>
    </div>
    <div class="ft-mb-3">
      <div class="ft-hr-label">
        <span class="ft-hr-label__text" i18n>or</span>
      </div>
    </div>
    }
    <mat-form-field appearance="fill" class="ft-mbe-2">
      <mat-label i18n>Username or email</mat-label>
      <input
        type="text"
        matInput
        formControlName="username"
        maxlength="50"
        autocomplete="username"
      />
      @if (signinForm.get('username')?.invalid) {
      <mat-error
        >{{ appService.getErrorMessage(signinForm.get('username')) }}</mat-error
      >
      }
    </mat-form-field>
    @if (!passwordVisible()) {
    <mat-form-field appearance="fill" class="ft-mbe-2">
      <mat-label i18n>Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        maxlength="16"
        autocomplete="current-password"
      />
      @if (!submitting()) {
      <button
        type="button"
        matSuffix
        mat-icon-button
        (click)="togglePasswordVisible()"
      >
        <ft-icon name="eye" class="ft-icon--2"></ft-icon>
      </button>
      } @if (signinForm.get('password')?.invalid) {
      <mat-error
        >{{ appService.getErrorMessage(signinForm.get('password')) }}</mat-error
      >
      }
    </mat-form-field>
    } @if (passwordVisible()) {
    <mat-form-field appearance="fill" class="ft-mbe-2">
      <mat-label i18n>Password</mat-label>
      <input
        type="text"
        matInput
        formControlName="password"
        maxlength="16"
        autocomplete="off"
      />
      @if (!submitting()) {
      <button
        type="button"
        matSuffix
        mat-icon-button
        (click)="togglePasswordVisible()"
      >
        <ft-icon name="eye--strike-through" class="ft-icon--2"></ft-icon>
      </button>
      } @if (signinForm.get('password')?.invalid) {
      <mat-error
        >{{ appService.getErrorMessage(signinForm.get('password')) }}</mat-error
      >
      }
    </mat-form-field>
    }
    <div class="ft-d-f ft-mbe-3">
      <div class="ft-fg-1">
        @if (!submitting()) {
        <button
          type="button"
          mat-button
          (click)="forgotPassword()"
          style="margin-left: -1rem"
          i18n
        >
          Forgot your password?
        </button>
        }
      </div>
      <div>
        <button
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="!signinForm.valid || submitting()"
          style="min-width: 110px"
        >
          @if (!submitting()) {
          <span i18n>Sign in</span>
          } @else {
          <ng-container *ngTemplateOutlet="submittingTemplate" />
          }
        </button>
      </div>
    </div>
    <div class="ft-terms" [class.ft-disabled]="submitting()" i18n>
      If you continue with the service, you agree to our
      <a
        href="javascript://"
        (click)="
            openPage(
              'https://factor.ec/es/jsonapi/node/page/8a1b8db9-9d9d-41a3-8ab9-d54771f4a13d'
            )
          "
        >Terms and Conditions</a
      >
      and
      <a
        href="javascript://"
        (click)="
            openPage(
              'https://factor.ec/es/jsonapi/node/page/45cc8cfb-8667-44d1-81f4-1c1bdb939cd8'
            )
          "
        >Privacy Policies</a
      >.
    </div>
  </div>
</form>
} @if (mode() === 'signup') {
<form
  [formGroup]="signupForm"
  (ngSubmit)="submitSignup()"
  class="ft-auth__signup"
>
  <div [class.ft-anim-shake]="errorMessage()" class="ft-mbe-4 ft-mbe-lg-0">
    <div class="ft-logo ft-d-md-n"></div>
    <div class="ft-mb-4">
      <h1 i18n>Create an account</h1>
      <p class="ft-tc-muted">
        <span i18n>Already have an account?</span>
        @if (!submitting()) {
        <a routerLink="/signin" class="ft-mis-2" i18n>Sign in</a>
        }
      </p>
    </div>
    @if (appService.allowAuthFederation) {
    <div class="ft-actions">
      <button
        type="button"
        mat-stroked-button
        class="ft-d-b ft-pb-1"
        (click)="connect('google')"
        [disabled]="submitting()"
      >
        <div class="ft-item">
          <img src="images/logo-google.svg" alt="" />
          <div i18n>Continue with Google</div>
        </div>
      </button>
    </div>
    <div class="ft-mb-3">
      <div class="ft-hr-label">
        <span class="ft-hr-label__text" i18n>or</span>
      </div>
    </div>
    }
    <div class="ft-d-sm-f ft-g-3">
      <mat-form-field appearance="fill" class="ft-mbe-2">
        <mat-label i18n>First name</mat-label>
        <input
          type="text"
          matInput
          formControlName="firstName"
          maxlength="80"
          autocomplete="firstName"
        />
        @if (signupForm.get('firstName')?.invalid) {
        <mat-error
          >{{ appService.getErrorMessage(signupForm.get('firstName'))
          }}</mat-error
        >
        }
      </mat-form-field>
      <mat-form-field appearance="fill" class="ft-mbe-2">
        <mat-label i18n>Last name</mat-label>
        <input
          type="text"
          matInput
          formControlName="lastName"
          maxlength="80"
          autocomplete="lastName"
        />
        @if (signupForm.get('lastName')?.invalid) {
        <mat-error
          >{{ appService.getErrorMessage(signupForm.get('lastName'))
          }}</mat-error
        >
        }
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill" class="ft-mbe-2">
      <mat-label i18n>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        maxlength="50"
        autocomplete="email"
      />
      @if (signupForm.get('email')?.invalid) {
      <mat-error
        >{{ appService.getErrorMessage(signupForm.get('email')) }}</mat-error
      >
      }
    </mat-form-field>
    @if (!passwordVisible()) {
    <mat-form-field appearance="fill" class="ft-mbe-2">
      <mat-label i18n>Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        maxlength="16"
        autocomplete="current-password"
      />
      @if (!submitting()) {
      <button
        type="button"
        matSuffix
        mat-icon-button
        (click)="togglePasswordVisible()"
      >
        <ft-icon name="eye" class="ft-icon--2"></ft-icon>
      </button>
      } @if (signupForm.get('password')?.invalid) {
      <mat-error
        >{{ appService.getErrorMessage(signupForm.get('password')) }}</mat-error
      >
      }
    </mat-form-field>
    } @if (passwordVisible()) {
    <mat-form-field appearance="fill" class="ft-mbe-2">
      <mat-label i18n>Password</mat-label>
      <input
        type="text"
        matInput
        formControlName="password"
        maxlength="16"
        autocomplete="off"
      />
      @if (!submitting()) {
      <button
        type="button"
        matSuffix
        mat-icon-button
        (click)="togglePasswordVisible()"
      >
        <ft-icon name="eye--strike-through" class="ft-icon--2"></ft-icon>
      </button>
      } @if (signupForm.get('password')?.invalid) {
      <mat-error
        >{{ appService.getErrorMessage(signupForm.get('password')) }}</mat-error
      >
      }
    </mat-form-field>
    }
    <div class="ft-ta-c ft-mbe-3">
      <button
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="!signupForm.valid || submitting()"
        style="min-width: 250px"
      >
        @if (!submitting()) {
        <span i18n>Sign up</span>
        } @else {
        <ng-container *ngTemplateOutlet="submittingTemplate" />
        }
      </button>
    </div>
    <div class="ft-terms" [class.ft-disabled]="submitting()" i18n>
      If you continue with the service, you agree to our
      <a
        href="javascript://"
        (click)="
            openPage(
              'https://factor.ec/es/jsonapi/node/page/8a1b8db9-9d9d-41a3-8ab9-d54771f4a13d'
            )
          "
        >Terms and Conditions</a
      >
      and
      <a
        href="javascript://"
        (click)="
            openPage(
              'https://factor.ec/es/jsonapi/node/page/45cc8cfb-8667-44d1-81f4-1c1bdb939cd8'
            )
          "
        >Privacy Policies</a
      >.
    </div>
  </div>
</form>
}
<ng-template #submittingTemplate>
  <div class="ft-ta-c">
    <ft-progress class="ft-progress--2"></ft-progress>
  </div>
</ng-template>
