.ft-page__content {
  &--nodata {
    .ft-image--nodata {
      //background-image: url(../../../../../public/images/no-data-notifications.svg);

      @media (prefers-color-scheme: dark) {
        //background-image: url(../../../../../public/images/no-data-notifications-dark.svg);
      }
    }
  }
}

.ft-list__item {
  font-size: var(--ft-text-font-size-md);

  &.ft-read {
    .ft-thumbnail {
      opacity: 0.6;
    }

    .ft-body {
      opacity: 0.6;
    }
  }

  .mdc-button {
    min-width: 90px;
  }
}

.ft-marked {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--ft-primary-color);
  border-radius: 100vh;
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 0 2px var(--ft-body-bg);
}
