<form [formGroup]="form" (ngSubmit)="submit()" class="ft-auth__reset m-auto p-4">
  <div class="mb-4">
    <div class="ft-logo"></div>
    <div class="mb-4">
      <h1 i18n>Choose a new password</h1>
    </div>
    <div class="grid grid-cols-1 gap-y-2 gap-x-4">
      @if (!passwordVisible()) {
        <mat-form-field>
          <mat-label i18n>Password</mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
            maxlength="16"
            autocomplete="current-password"
          />
          @if (!submitting()) {
            <button
              type="button"
              matSuffix
              matIconButton
              (click)="togglePasswordVisible()"
              i18n-title
              title="View"
            >
              <ft-icon name="eye" class="text-2xl"></ft-icon>
            </button>
          }
          @if (form.get('password')?.invalid && form.get('password')?.touched) {
            <mat-error>{{ form.get('password') | errorMessage }}</mat-error>
          }
        </mat-form-field>
      }
      @if (passwordVisible()) {
        <mat-form-field>
          <mat-label i18n>Password</mat-label>
          <input
            type="text"
            matInput
            formControlName="password"
            maxlength="16"
            autocomplete="off"
          />
          @if (!submitting()) {
            <button
              type="button"
              matSuffix
              matIconButton
              (click)="togglePasswordVisible()"
              i18n-title
              title="Hide"
            >
              <ft-icon name="eye--strike-through" class="text-2xl"></ft-icon>
            </button>
          }
          @if (form.get('password')?.invalid && form.get('password')?.touched) {
            <mat-error>{{ form.get('password') | errorMessage }}</mat-error>
          }
        </mat-form-field>
      }
      <mat-form-field>
        <mat-label i18n>Confirm password</mat-label>
        <input type="password" matInput formControlName="confirmPassword" />
        @if (form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched) {
          <mat-error>{{
            form.get('confirmPassword') | errorMessage: { notEqual: notEqualMessage }
          }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="flex flex-col mb-4 justify-center gap-4">
      <button
        type="submit"
        matButton="filled"
        color="primary"
        class="min-w-[100px]"
        [disabled]="!form.valid || submitting()"
      >
        @if (!submitting()) {
          <span i18n>Submit</span>
        } @else {
          <ng-container *ngTemplateOutlet="submittingTemplate" />
        }
      </button>
    </div>
  </div>
</form>
<ng-template #submittingTemplate>
  <div class="text-center">
    <ft-progress class="ft-progress--2" />
  </div>
</ng-template>
