<div class="ft-page__header">
  <button routerLink="/settings" mat-icon-button i18n-title title="Back">
    <ft-icon name="arrow-left" class="ft-icon--2" />
  </button>
  <div class="ft-header__title" i18n>Language</div>
</div>
<div class="ft-page__content ft-anim-enter">
  <div class="ft-container">
    <div class="ft-list">
      @for (language of appManager.languages(); track language.code) {
        <button
          type="button"
          class="ft-list__item"
          matRipple
          (click)="select(language)"
          [disabled]="locale() === language.code"
        >
          <div class="ft-item">
            <div class="ft-thumbnail">
              <ft-icon name="globe" class="ft-icon--2" />
              @if (locale() === language.code) {
                <ft-icon name="check" class="ft-thumbnail__badge ft-thumbnail__badge--checked" />
              }
            </div>
            <div class="ft-item__label">{{ language.name }}</div>
          </div>
        </button>
      }
    </div>
  </div>
</div>
