<form novalidate (submit)="onSubmit($event)">
  <div mat-dialog-title>
    <div i18n>Change password</div>
  </div>
  <div mat-dialog-content class="pb-0 !pt-4">
    <div class="grid grid-cols-1 gap-y-2 gap-x-4">
      @if (!passwordVisible()) {
        <mat-form-field>
          <mat-label i18n>Current password</mat-label>
          <input
            type="password"
            matInput
            [formField]="changeForm.password"
            autocomplete="current-password"
          />
          @if (!submitting()) {
            <button type="button" matSuffix matIconButton (click)="togglePasswordVisible()">
              <ft-icon name="eye" class="text-2xl" />
            </button>
          }
          @if (changeForm.password().touched() && changeForm.password().invalid()) {
            <mat-error>{{ changeForm.password().errors()[0]?.message }}</mat-error>
          }
        </mat-form-field>
      }
      @if (passwordVisible()) {
        <mat-form-field>
          <mat-label i18n>Current password</mat-label>
          <input type="text" matInput [formField]="changeForm.password" autocomplete="off" />
          @if (!submitting()) {
            <button type="button" matSuffix matIconButton (click)="togglePasswordVisible()">
              <ft-icon name="eye--strike-through" class="text-2xl" />
            </button>
          }
          @if (changeForm.password().touched() && changeForm.password().invalid()) {
            <mat-error>{{ changeForm.password().errors()[0]?.message }}</mat-error>
          }
        </mat-form-field>
      }
      <div class="ft-password-hint">
        @if (!newPasswordVisible()) {
          <mat-form-field>
            <mat-label i18n>New password</mat-label>
            <input
              type="password"
              matInput
              [formField]="changeForm.newPassword"
              autocomplete="new-password"
            />
            @if (!submitting()) {
              <button type="button" matSuffix matIconButton (click)="toggleNewPasswordVisible()">
                <ft-icon name="eye" class="text-2xl" />
              </button>
            }
            @if (changeForm.newPassword().touched() && changeForm.newPassword().invalid()) {
              <mat-error>
                @let errs = changeForm.newPassword().errors();
                @if (errs.length > 0 && errs[0].kind === 'required') {
                  {{ errs[0].message }}
                } @else {
                  <ng-container i18n>It must meet the security requirements</ng-container>
                }
              </mat-error>
            }
          </mat-form-field>
        }
        @if (newPasswordVisible()) {
          <mat-form-field>
            <mat-label i18n>New password</mat-label>
            <input type="text" matInput [formField]="changeForm.newPassword" autocomplete="off" />
            @if (!submitting()) {
              <button type="button" matSuffix matIconButton (click)="toggleNewPasswordVisible()">
                <ft-icon name="eye--strike-through" class="text-2xl" />
              </button>
            }
            @if (changeForm.newPassword().touched() && changeForm.newPassword().invalid()) {
              <mat-error>
                @let errs = changeForm.newPassword().errors();
                @if (errs.length > 0 && errs[0].kind === 'required') {
                  {{ errs[0].message }}
                } @else {
                  <ng-container i18n>It must meet the security requirements</ng-container>
                }
              </mat-error>
            }
          </mat-form-field>
        }
        <div class="ft-password-hint__pane">
          <div
            class="flex gap-4 items-center"
            [class.text-gray-400]="hasNewPasswordError('minLength')"
            [class.text-green-500]="!hasNewPasswordError('minLength')"
          >
            <ft-icon
              [name]="hasNewPasswordError('minLength') ? 'circle' : 'check--circle'"
              class="text-base"
            />
            <div i18n>Must contain at least 8 characters</div>
          </div>
          <div
            class="flex gap-4 items-center"
            [class.text-gray-400]="hasNewPasswordError('upperCase')"
            [class.text-green-500]="!hasNewPasswordError('upperCase')"
          >
            <ft-icon
              [name]="hasNewPasswordError('upperCase') ? 'circle' : 'check--circle'"
              class="text-base"
            />
            <div i18n>Must contain at least 1 uppercase letter</div>
          </div>
          <div
            class="flex gap-4 items-center"
            [class.text-gray-400]="hasNewPasswordError('lowerCase')"
            [class.text-green-500]="!hasNewPasswordError('lowerCase')"
          >
            <ft-icon
              [name]="hasNewPasswordError('lowerCase') ? 'circle' : 'check--circle'"
              class="text-base"
            />
            <div i18n>Must contain at least 1 lowercase letter</div>
          </div>
          <div
            class="flex gap-4 items-center"
            [class.text-gray-400]="hasNewPasswordError('specialCharacter')"
            [class.text-green-500]="!hasNewPasswordError('specialCharacter')"
          >
            <ft-icon
              [name]="hasNewPasswordError('specialCharacter') ? 'circle' : 'check--circle'"
              class="text-base"
            />
            <div i18n>Must contain at least 1 special character</div>
          </div>
          <div
            class="flex gap-4 items-center"
            [class.text-gray-400]="hasNewPasswordError('number')"
            [class.text-green-500]="!hasNewPasswordError('number')"
          >
            <ft-icon
              [name]="hasNewPasswordError('number') ? 'circle' : 'check--circle'"
              class="text-base"
            />
            <div i18n>Must contain at least 1 number</div>
          </div>
        </div>
      </div>
      <mat-form-field>
        <mat-label i18n>Confirm new password</mat-label>
        <input type="password" matInput [formField]="changeForm.confirmPassword" />
        @if (changeForm.confirmPassword().touched() && changeForm.confirmPassword().invalid()) {
          <mat-error>{{ changeForm.confirmPassword().errors()[0]?.message }}</mat-error>
        }
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button type="button" matButton="outlined" [disabled]="submitting()" mat-dialog-close i18n>
      Cancel
    </button>
    <button type="submit" matButton="filled" color="primary" [disabled]="submitting()">
      @if (!submitting()) {
        <span i18n>Submit</span>
      } @else {
        <ng-container *ngTemplateOutlet="submittingTemplate" />
      }
    </button>
  </div>
</form>
<ng-template #submittingTemplate>
  <div class="text-center">
    <ft-progress class="ft-progress--2" />
  </div>
</ng-template>
