@if (mode() === 'signin' || !allowSignup) {
  <form (submit)="handleSigninSubmit($event)" class="ft-auth__signin m-auto p-4">
    <div class="mb-4" [class.ft-anim-shake]="errorMessage()">
      <div class="ft-logo"></div>
      <div class="mb-4">
        <h1 i18n>Sign in</h1>
        @if (allowSignup) {
          <p>
            <span i18n>Don't have an account?</span>
            @if (!submitting()) {
              <a routerLink="/signup" class="ml-2" i18n>Create an account</a>
            }
          </p>
        }
      </div>
      @if (allowAuthFederation) {
        <button
          type="button"
          matButton="outlined"
          class="block pb-1"
          (click)="connect('google')"
          [disabled]="submitting()"
        >
          <div class="flex gap-4 items-center">
            <img ngSrc="images/logo-google.svg" width="24" height="24" alt="" loading="lazy" />
            <div i18n>Continue with Google</div>
          </div>
        </button>
        <div class="mb-4">
          <div class="ft-hr-label">
            <span class="ft-hr-label__text" i18n>or</span>
          </div>
        </div>
      }
      <div class="grid grid-cols-1 gap-y-2 gap-x-4 mb-2">
        <mat-form-field>
          <mat-label i18n>Username or email</mat-label>
          <input type="text" matInput [formField]="signinForm.username" autocomplete="username" />
          @if (signinForm.username().touched() && signinForm.username().invalid()) {
            <mat-error>{{ signinForm.username().errors()[0]?.message }}</mat-error>
          }
        </mat-form-field>
        @if (!passwordVisible()) {
          <mat-form-field>
            <mat-label i18n>Password</mat-label>
            <input
              type="password"
              matInput
              [formField]="signinForm.password"
              autocomplete="current-password"
            />
            @if (!submitting()) {
              <button type="button" matSuffix matIconButton (click)="togglePasswordVisible()">
                <ft-icon name="eye" class="text-2xl" />
              </button>
            }
            @if (signinForm.password().touched() && signinForm.password().invalid()) {
              <mat-error>{{ signinForm.password().errors()[0]?.message }}</mat-error>
            }
          </mat-form-field>
        }
        @if (passwordVisible()) {
          <mat-form-field>
            <mat-label i18n>Password</mat-label>
            <input type="text" matInput [formField]="signinForm.password" autocomplete="off" />
            @if (!submitting()) {
              <button type="button" matSuffix matIconButton (click)="togglePasswordVisible()">
                <ft-icon name="eye--strike-through" class="text-2xl" />
              </button>
            }
            @if (signinForm.password().touched() && signinForm.password().invalid()) {
              <mat-error>{{ signinForm.password().errors()[0]?.message }}</mat-error>
            }
          </mat-form-field>
        }
      </div>
      <div class="flex flex-col mb-4 justify-center gap-4">
        <button
          type="submit"
          matButton="filled"
          color="primary"
          [disabled]="signinForm().invalid() || submitting()"
        >
          @if (!submitting()) {
            <span i18n>Sign in</span>
          } @else {
            <ng-container *ngTemplateOutlet="submittingTemplate" />
          }
        </button>
        @if (!submitting()) {
          <button type="button" matButton (click)="forgotPassword()" i18n>
            Forgot your password?
          </button>
        }
      </div>
      <div class="ft-terms" [class.ft-disabled]="submitting()" i18n>
        If you continue with the service, you agree to our
        <a href="javascript://">Terms and Conditions</a>
        and
        <a href="javascript://">Privacy Policies</a>.
      </div>
    </div>
  </form>
}
@if (mode() === 'signup') {
  <form (submit)="handleSignupSubmit($event)" class="ft-auth__signup">
    <div [class.ft-anim-shake]="errorMessage()" class="mb-4 lg:mb-0">
      <div class="ft-logo"></div>
      <div class="mb-4">
        <h1 i18n>Create an account</h1>
        <p>
          <span i18n>Already have an account?</span>
          @if (!submitting()) {
            <a routerLink="/signin" class="ml-2" i18n>Sign in</a>
          }
        </p>
      </div>
      @if (allowAuthFederation) {
        <button
          type="button"
          matButton="outlined"
          class="block pb-1"
          (click)="connect('google')"
          [disabled]="submitting()"
        >
          <div class="flex gap-4 items-center">
            <img ngSrc="images/logo-google.svg" width="24" height="24" alt="" loading="lazy" />
            <div i18n>Continue with Google</div>
          </div>
        </button>
        <div class="mb-4">
          <div class="ft-hr-label">
            <span class="ft-hr-label__text" i18n>or</span>
          </div>
        </div>
      }
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-2 gap-x-4 mb-2">
        <mat-form-field>
          <mat-label i18n>First name</mat-label>
          <input type="text" matInput [formField]="signupForm.firstName" autocomplete="firstName" />
          @if (signupForm.firstName().touched() && signupForm.firstName().invalid()) {
            <mat-error>{{ signupForm.firstName().errors()[0]?.message }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Last name</mat-label>
          <input type="text" matInput formControlName="lastName" autocomplete="lastName" />
          @if (signupForm.lastName().touched() && signupForm.lastName().invalid()) {
            <mat-error>{{ signupForm.lastName().errors()[0]?.message }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-span-1 sm:col-span-2">
          <mat-label i18n>Email</mat-label>
          <input type="email" matInput [formField]="signupForm.email" autocomplete="email" />
          @if (signupForm.email().touched() && signupForm.email().invalid()) {
            <mat-error>{{ signupForm.email().errors()[0]?.message }}</mat-error>
          }
        </mat-form-field>
        @if (!passwordVisible()) {
          <mat-form-field class="col-span-1 sm:col-span-2">
            <mat-label i18n>Password</mat-label>
            <input
              type="password"
              matInput
              [formField]="signupForm.password"
              autocomplete="current-password"
            />
            @if (!submitting()) {
              <button type="button" matSuffix matIconButton (click)="togglePasswordVisible()">
                <ft-icon name="eye" class="text-2xl" />
              </button>
            }
            @if (signupForm.password().touched() && signupForm.password().invalid()) {
              <mat-error>{{ signupForm.password().errors()[0]?.message }}</mat-error>
            }
          </mat-form-field>
        }
        @if (passwordVisible()) {
          <mat-form-field class="col-span-1 sm:col-span-2">
            <mat-label i18n>Password</mat-label>
            <input type="text" matInput [formField]="signupForm.password" autocomplete="off" />
            @if (!submitting()) {
              <button type="button" matSuffix matIconButton (click)="togglePasswordVisible()">
                <ft-icon name="eye--strike-through" class="text-2xl" />
              </button>
            }
            @if (signupForm.password().touched() && signupForm.password().invalid()) {
              <mat-error>{{ signupForm.password().errors()[0]?.message }}</mat-error>
            }
          </mat-form-field>
        }
      </div>
      <div class="text-center mb-4">
        <button
          type="submit"
          matButton="filled"
          color="primary"
          [disabled]="signupForm().invalid() || submitting()"
          class="min-w-[250px]"
        >
          @if (!submitting()) {
            <span i18n>Sign up</span>
          } @else {
            <ng-container *ngTemplateOutlet="submittingTemplate" />
          }
        </button>
      </div>
      <div class="ft-terms" [class.ft-disabled]="submitting()" i18n>
        If you continue with the service, you agree to our
        <a href="javascript://">Terms and Conditions</a>
        and
        <a href="javascript://">Privacy Policies</a>.
      </div>
    </div>
  </form>
}
<ng-template #submittingTemplate>
  <div class="text-center">
    <ft-progress class="ft-progress--2" />
  </div>
</ng-template>
