/* Inputs */
:root {
  --ft-input-bg: color-mix(in srgb, var(--color-border) 40%, transparent);
  --ft-input-bg-focused: color-mix(in srgb, var(--color-border) 50%, transparent);
  --ft-input-bg-disabled: color-mix(in srgb, var(--color-border) 60%, transparent);
  --ft-input-radius: 0.5rem;
}

/* Progress bar */
:root {
  --ft-progress-bar-color: var(--color-primary);
  --ft-progress-track-color: color-mix(in srgb, var(--color-foreground) 10%, transparent);
}

/* Placeholder */
:root {
  --ft-ph-color1: var(--mat-sys-surface-container);
  --ft-ph-color2: color-mix(in srgb, var(--color-foreground) 5%, transparent);
}

/* Messages */
:root {
  --ft-message-warning-color: #664d03;
  --ft-message-warning-bg: #fff3cd;
  --ft-message-info-color: #055160;
  --ft-message-info-bg: #cff4fc;
}

/* List */
:root {
  --ft-list-hover-bg: color-mix(in srgb, var(--color-primary) 10%, transparent);
  --ft-list-focus-bg: color-mix(in srgb, var(--color-primary) 15%, transparent);
  --ft-list-active-bg: color-mix(in srgb, var(--color-primary) 20%, transparent);
}

/* Table */
:root {
  --ft-table-bg: var(--color-background);
  --ft-table-border-color: var(--color-border);
  --ft-table-hover-bg: color-mix(in srgb, var(--color-primary) 10%, transparent);
  --ft-table-focus-bg: color-mix(in srgb, var(--color-primary) 15%, transparent);
  --ft-table-active-bg: color-mix(in srgb, var(--color-primary) 20%, transparent);
  --ft-table-header-color: var(--color-primary);
  --ft-table-header-font-size: var(--text-sm);
  --ft-table-header-font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ft-shadow-overlapped: 0 0 1px rgba(0, 0, 0, 0.54), 0 0 6px rgba(0, 0, 0, 0.52);
  }
}
