html {
  /* Colores del sistema Material */
  --md-sys-color-primary: var(--ft-primary-color);
  --md-sys-color-on-primary: var(--ft-dark-color);

  --md-sys-color-secondary: var(--ft-secondary-color);
  --md-sys-color-on-secondary: var(--ft-light-color);

  --md-sys-color-tertiary: var(--ft-tertiary-color);

  --md-sys-color-error: var(--ft-danger-color);
  --md-sys-color-warning: var(--ft-warning-color);
  --md-sys-color-success: var(--ft-success-color);

  /* Background + Surface */
  --md-sys-color-background: var(--ft-body-bg);
  --md-sys-color-surface: var(--ft-body-bg);

  /* Tipografías */
  --md-sys-typescale-body-medium-font: var(--ft-text-font-family);
  --md-sys-typescale-body-medium-size: var(--ft-text-font-size-md);
  --md-sys-typescale-body-medium-weight: var(--ft-text-font-weight);

  /* Espaciados */
  --md-ref-spacing-small: var(--ft-spacer-1);
  --md-ref-spacing-medium: var(--ft-spacer-3);
  --md-ref-spacing-large: var(--ft-spacer-5);
}
