html {
  /* Colores del sistema Material */
  --md-sys-color-primary: var(--ft-color-primary);
  --md-sys-color-on-primary: var(--ft-color-dark);

  --md-sys-color-secondary: var(--ft-color-secondary);
  --md-sys-color-on-secondary: var(--ft-color-light);

  --md-sys-color-tertiary: var(--ft-color-tertiary);

  --md-sys-color-error: var(--ft-color-danger);
  --md-sys-color-warning: var(--ft-color-warning);
  --md-sys-color-success: var(--ft-color-success);

  /* Background + Surface */
  --md-sys-color-background: var(--ft-color-bg);
  --md-sys-color-surface: var(--ft-color-bg);

  /* Tipografías */
  --md-sys-typescale-body-medium-font: var(--ft-font-family-base);
  --md-sys-typescale-body-medium-size: var(--ft-font-size-md);
  --md-sys-typescale-body-medium-weight: var(--ft-font-weight-regular);

  /* Espaciados */
  --md-ref-spacing-small: calc(var(--spacing) * 1);
  --md-ref-spacing-medium: calc(var(--spacing) * 4);
  --md-ref-spacing-large: calc(var(--spacing) * 12);

  --mat-sys-corner-extra-large: 1rem;
}
