/* theme/tokens.css */
:root {
  color-scheme: light dark;

  /* ===== Colors ===== */
  --ft-color-primary: #ff9800;
  --ft-color-secondary: #2196f3;
  --ft-color-tertiary: #9c27b0;

  --ft-color-success: #4caf50;
  --ft-color-warning: #ffc107;
  --ft-color-danger: #ba1a1a;
  --ft-color-info: #0dcaf0;

  --ft-color-light: #fff;
  --ft-color-dark: #333;

  --ft-color-text: var(--ft-color-dark);
  --ft-color-text-muted: var(--ft-color-dark);
  --ft-color-bg: var(--ft-color-light);

  /* ===== Typography ===== */
  --ft-font-family-base: sans-serif;
  --ft-font-size-sm: 0.875rem;
  --ft-font-size-md: 1rem;
  --ft-font-size-lg: 1.125rem;
  --ft-font-size-xl: 1.5rem;
  --ft-font-weight-regular: 400;
  --ft-font-weight-bold: 600;
  --ft-line-height-base: 1.5;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --ft-color-text: var(--ft-color-light);
    --ft-color-bg: var(--ft-color-dark);
    --ft-color-danger: #ff4d4d; /* Tu override */
  }
}
