<form novalidate (submit)="onSubmit($event)">
  <app-header mat-dialog-title i18n-title title="Entity">
    <ng-container ftStart>
      <button type="button" matIconButton i18n-title title="Close" mat-dialog-close>
        <ft-icon name="close" class="text-2xl" />
      </button>
    </ng-container>
    <ng-container ftEnd>
      @let contextMenuItems = entityManager.getContextMenu(entity.value(), ENTITY_CONTEXT.FORM);
      @if (contextMenuItems.length > 0) {
        <app-icon-button-context [items]="contextMenuItems" />
      }
    </ng-container>
  </app-header>
  <div mat-dialog-content class="pt-4!">
    @if (entity.loading()) {
      <app-progress-placeholder
        class="ft-center p-6"
        i18n-label
        label="Loading..."
        iconClass="text-4xl"
      />
    } @else if (entity.error()) {
      <app-error-placeholder class="ft-center" [resource]="entity" />
    } @else {
      <div class="ft-container">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-2 gap-x-4">
          <mat-form-field>
            <mat-label i18n>First name</mat-label>
            <input matInput type="text" [formField]="entityForm.firstName" />
            @if (entityForm.firstName().touched() && entityForm.firstName().invalid()) {
              <mat-error>{{ entityForm.firstName().errors()[0].message }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label i18n>Last name</mat-label>
            <input matInput type="text" [formField]="entityForm.lastName" />
            @if (entityForm.lastName().touched() && entityForm.lastName().invalid()) {
              <mat-error>{{ entityForm.lastName().errors()[0].message }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="col-span-1 sm:col-span-2">
            <mat-label i18n>Email</mat-label>
            <input matInput type="email" [formField]="entityForm.email" />
            @if (entityForm.email().touched() && entityForm.email().invalid()) {
              <mat-error>{{ entityForm.email().errors()[0].message }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="col-span-1 sm:col-span-2">
            <mat-label i18n>Phone</mat-label>
            <input matInput type="tel" [formField]="entityForm.phone" />
            @if (entityForm.phone().touched() && entityForm.phone().invalid()) {
              <mat-error>{{ entityForm.phone().errors()[0].message }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label i18n>Company</mat-label>
            <input matInput type="text" [formField]="entityForm.company" />
          </mat-form-field>

          <mat-form-field>
            <mat-label i18n>Position</mat-label>
            <input matInput type="text" [formField]="entityForm.position" />
          </mat-form-field>

          <mat-form-field class="col-span-1 sm:col-span-2">
            <mat-label i18n>Notes</mat-label>
            <textarea matInput [formField]="entityForm.notes" rows="4"></textarea>
          </mat-form-field>
        </div>
      </div>
    }
  </div>
  <div mat-dialog-actions>
    <button
      type="button"
      matButton="outlined"
      [disabled]="entityMutations.submitting()"
      mat-dialog-close
      i18n
    >
      Cancel
    </button>
    <button
      type="submit"
      matButton="filled"
      color="primary"
      [disabled]="entityForm().invalid() || entityMutations.submitting()"
    >
      @if (!entityMutations.submitting()) {
        <span i18n>Save</span>
      } @else {
        <app-progress-placeholder />
      }
    </button>
  </div>
</form>
