<div #headerElement class="ft-page__header">
  <div class="ft-actions"></div>
  <div class="ft-title" i18n>Contacts</div>
  <div class="ft-actions">
    <button
      type="button"
      mat-icon-button
      i18n-title
      title="Search"
      (click)="contactManager.search()"
    >
      <ft-icon name="search" class="ft-icon--2" />
    </button>
    <button type="button" mat-icon-button i18n-title title="Add" (click)="contactManager.open()">
      <ft-icon name="plus" class="ft-icon--2" />
    </button>
  </div>
</div>
<div class="ft-page__content ft-anim-enter">
  @if (contacts.loading()) {
    <div class="flex items-center justify-center h-full" i18n>Loading...</div>
  } @else if (!contacts.loading() && contacts.value()?.length) {
    <div class="ft-container">
      <div
        class="ft-observe-interseting"
        (ftObserveIntersecting)="layoutManager.setOverlapped($any($event), datagridHeaderElement)"
      ></div>
      <table class="ft-table">
        <thead class="ft-sticky" #datagridHeaderElement>
          <tr>
            <th i18n>Name</th>
            <th i18n>Email</th>
            <th i18n>Phone</th>
            <th i18n>Company</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (contact of contacts.value(); track contact.id) {
            <tr class="ft-tr-action" (click)="contactManager.open(contact.id)">
              <td>{{ contact.firstName }} {{ contact.lastName }}</td>
              <td>{{ contact.email }}</td>
              <td>{{ contact.phone }}</td>
              <td>{{ contact.company || '-' }}</td>
              <td></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  } @else if (!contacts.value()?.length) {
    <div class="flex items-center justify-center h-full" i18n>No records</div>
  }
</div>
