@if (error()) {
  <div class="flex flex-col items-center px-6 gap-4">
    <div>
      <ft-icon name="warning" collection="factoricons-slim" class="ft-icon--4" />
      <h1 class="mb-4">{{ error()?.title }}</h1>
      <p class="text-gray-500 mt-0">{{ error()?.message }}</p>
    </div>
    @if (error()?.icon === '404' || !session.isLoggedIn()) {
      <a routerLink="/" mat-flat-button color="primary" i18n>Go home</a>
    } @else if (error()?.icon === '403') {
      <button mat-flat-button color="primary" (click)="authService.logout()" i18n>Logout</button>
    } @else if (error()?.icon === 'unknown') {
      <button mat-flat-button color="primary" (click)="reload()" i18n>Reload</button>
    }
  </div>
}
