:host {
  display: flex;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ft-image {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &--404 {
    //background-image: url(../../../../../public/images/error-404.svg);

    @media (prefers-color-scheme: dark) {
      //background-image: url(../../../../../public/images/error-404-dark.svg);
    }
  }
}

.mdc-button {
  font-size: var(--ft-text-font-size-md);
  min-width: 140px;
}
