@reference "tailwindcss";

:host {
  @apply flex flex-row-reverse min-h-screen min-h-[100svh];
  background-color: var(--ft-color-bg);
}

form {
  @apply m-auto p-6;
  max-width: max(40vw, 450px);

  >div {
    @apply w-full m-auto;
  }

  a {
    @apply text-[var(--ft-color-primary)] hover:underline focus:underline;
  }
}

.ft-logo {
  @apply text-center w-full h-12 bg-contain bg-no-repeat bg-center;

  .ft-logo__wrapper {
    @apply flex-grow flex items-center w-full mt-12;
  }
}

.ft-hr-label {
  @apply text-center flex items-center my-4;

  .ft-hr-label__text {
    @apply my-0 mx-4;
  }

  &:after,
  &:before {
    @apply relative w-1/2 bg-[var(--ft-color-border)] inline-block h-px align-middle;
    content: "";
  }
}

.ft-terms {
  @apply text-xs px-6 max-w-[360px] text-center mx-auto;
  color: var(--ft-color-text-muted);

  a {
    color: var(--ft-color-text-muted);
  }
}

.ft-auth__signin {
  @apply lg:px-20;
  max-width: max(40vw, 450px);

  >div {
    @apply max-w-[330px];
  }
}

.ft-auth__signup {
  @apply lg:px-12;
  max-width: max(40vw, 450px);

  >div {
    @apply max-w-[400px];
  }
}

.ft-auth-menu.mat-mdc-menu-panel {
  @apply max-w-[calc(400px-4rem)];

  .mat-mdc-menu-content {
    @apply w-[calc(100vw-4rem)] max-w-[calc(400px-4rem)];
  }
}