@if (mode() === 'signin' || !appManager.allowSignup) {
  <form [formGroup]="signinForm" (ngSubmit)="submitSignin()" class="ft-auth__signin m-auto p-4">
    <div class="mb-4" [class.ft-anim-shake]="errorMessage()">
      <div class="ft-logo"></div>
      <div class="mb-4">
        <h1 i18n>Sign in</h1>
        @if (appManager.allowSignup) {
          <p class="text-gray-500">
            <span i18n>Don't have an account?</span>
            @if (!submitting()) {
              <a routerLink="/signup" class="ml-2" i18n>Create an account</a>
            }
          </p>
        }
      </div>
      @if (appManager.allowAuthFederation) {
        <button
          type="button"
          mat-stroked-button
          class="block pb-1"
          (click)="connect('google')"
          [disabled]="submitting()"
        >
          <div class="flex gap-4 items-center">
            <img ngSrc="images/logo-google.svg" width="24" height="24" alt="" loading="lazy" />
            <div i18n>Continue with Google</div>
          </div>
        </button>
        <div class="mb-4">
          <div class="ft-hr-label">
            <span class="ft-hr-label__text" i18n>or</span>
          </div>
        </div>
      }
      <div class="grid grid-cols-1 gap-y-2 gap-x-4 mb-2">
        <mat-form-field>
          <mat-label i18n>Username or email</mat-label>
          <input
            type="text"
            matInput
            formControlName="username"
            maxlength="50"
            autocomplete="username"
          />
          @if (signinForm.get('username')?.invalid && signinForm.get('username')?.touched) {
            <mat-error>{{ signinForm.get('username') | errorMessage }}</mat-error>
          }
        </mat-form-field>
        @if (!passwordVisible()) {
          <mat-form-field>
            <mat-label i18n>Password</mat-label>
            <input
              type="password"
              matInput
              formControlName="password"
              maxlength="16"
              autocomplete="current-password"
            />
            @if (!submitting()) {
              <button type="button" matSuffix matIconButton (click)="togglePasswordVisible()">
                <ft-icon name="eye" class="ft-icon--2"></ft-icon>
              </button>
            }
            @if (signinForm.get('password')?.invalid && signinForm.get('password')?.touched) {
              <mat-error>{{ signinForm.get('password') | errorMessage }}</mat-error>
            }
          </mat-form-field>
        }
        @if (passwordVisible()) {
          <mat-form-field>
            <mat-label i18n>Password</mat-label>
            <input
              type="text"
              matInput
              formControlName="password"
              maxlength="16"
              autocomplete="off"
            />
            @if (!submitting()) {
              <button type="button" matSuffix matIconButton (click)="togglePasswordVisible()">
                <ft-icon name="eye--strike-through" class="ft-icon--2"></ft-icon>
              </button>
            }
            @if (signinForm.get('password')?.invalid && signinForm.get('password')?.touched) {
              <mat-error>{{ signinForm.get('password') | errorMessage }}</mat-error>
            }
          </mat-form-field>
        }
      </div>
      <div class="flex flex-col mb-4 justify-center gap-4">
        <button
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="!signinForm.valid || submitting()"
        >
          @if (!submitting()) {
            <span i18n>Sign in</span>
          } @else {
            <ng-container *ngTemplateOutlet="submittingTemplate" />
          }
        </button>
        @if (!submitting()) {
          <button type="button" matButton (click)="forgotPassword()" i18n>
            Forgot your password?
          </button>
        }
      </div>
      <div class="ft-terms" [class.ft-disabled]="submitting()" i18n>
        If you continue with the service, you agree to our
        <a href="javascript://">Terms and Conditions</a>
        and
        <a href="javascript://">Privacy Policies</a>.
      </div>
    </div>
  </form>
}
@if (mode() === 'signup') {
  <form [formGroup]="signupForm" (ngSubmit)="submitSignup()" class="ft-auth__signup">
    <div [class.ft-anim-shake]="errorMessage()" class="mb-4 lg:mb-0">
      <div class="ft-logo"></div>
      <div class="mb-4">
        <h1 i18n>Create an account</h1>
        <p class="text-gray-500">
          <span i18n>Already have an account?</span>
          @if (!submitting()) {
            <a routerLink="/signin" class="ml-2" i18n>Sign in</a>
          }
        </p>
      </div>
      @if (appManager.allowAuthFederation) {
        <button
          type="button"
          mat-stroked-button
          class="block pb-1"
          (click)="connect('google')"
          [disabled]="submitting()"
        >
          <div class="flex gap-4 items-center">
            <img ngSrc="images/logo-google.svg" width="24" height="24" alt="" loading="lazy" />
            <div i18n>Continue with Google</div>
          </div>
        </button>
        <div class="mb-4">
          <div class="ft-hr-label">
            <span class="ft-hr-label__text" i18n>or</span>
          </div>
        </div>
      }
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-2 gap-x-4 mb-2">
        <mat-form-field>
          <mat-label i18n>First name</mat-label>
          <input
            type="text"
            matInput
            formControlName="firstName"
            maxlength="80"
            autocomplete="firstName"
          />
          @if (signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched) {
            <mat-error>{{ signupForm.get('firstName') | errorMessage }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Last name</mat-label>
          <input
            type="text"
            matInput
            formControlName="lastName"
            maxlength="80"
            autocomplete="lastName"
          />
          @if (signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched) {
            <mat-error>{{ signupForm.get('lastName') | errorMessage }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-span-1 sm:col-span-2">
          <mat-label i18n>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            maxlength="50"
            autocomplete="email"
          />
          @if (signupForm.get('email')?.invalid && signupForm.get('email')?.touched) {
            <mat-error>{{ signupForm.get('email') | errorMessage }}</mat-error>
          }
        </mat-form-field>
        @if (!passwordVisible()) {
          <mat-form-field class="col-span-1 sm:col-span-2">
            <mat-label i18n>Password</mat-label>
            <input
              type="password"
              matInput
              formControlName="password"
              maxlength="16"
              autocomplete="current-password"
            />
            @if (!submitting()) {
              <button type="button" matSuffix matIconButton (click)="togglePasswordVisible()">
                <ft-icon name="eye" class="ft-icon--2"></ft-icon>
              </button>
            }
            @if (signupForm.get('password')?.invalid && signupForm.get('password')?.touched) {
              <mat-error>{{ signupForm.get('password') | errorMessage }}</mat-error>
            }
          </mat-form-field>
        }
        @if (passwordVisible()) {
          <mat-form-field class="col-span-1 sm:col-span-2">
            <mat-label i18n>Password</mat-label>
            <input
              type="text"
              matInput
              formControlName="password"
              maxlength="16"
              autocomplete="off"
            />
            @if (!submitting()) {
              <button type="button" matSuffix matIconButton (click)="togglePasswordVisible()">
                <ft-icon name="eye--strike-through" class="ft-icon--2"></ft-icon>
              </button>
            }
            @if (signupForm.get('password')?.invalid && signupForm.get('password')?.touched) {
              <mat-error>{{ signupForm.get('password') | errorMessage }}</mat-error>
            }
          </mat-form-field>
        }
      </div>
      <div class="text-center mb-4">
        <button
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="!signupForm.valid || submitting()"
          class="min-w-[250px]"
        >
          @if (!submitting()) {
            <span i18n>Sign up</span>
          } @else {
            <ng-container *ngTemplateOutlet="submittingTemplate" />
          }
        </button>
      </div>
      <div class="ft-terms" [class.ft-disabled]="submitting()" i18n>
        If you continue with the service, you agree to our
        <a href="javascript://">Terms and Conditions</a>
        and
        <a href="javascript://">Privacy Policies</a>.
      </div>
    </div>
  </form>
}
<ng-template #submittingTemplate>
  <div class="text-center">
    <ft-progress class="ft-progress--2" />
  </div>
</ng-template>
