<div #headerElement class="ft-page__header">
  <div class="ft-actions"></div>
  <div class="ft-title" i18n>Entities</div>
  <div class="ft-actions">
    <button
      type="button"
      mat-icon-button
      i18n-title
      title="Search"
      (click)="entityManager.search()"
    >
      <ft-icon name="search" class="ft-icon--2" />
    </button>
    <button type="button" mat-icon-button i18n-title title="Add" (click)="entityManager.open()">
      <ft-icon name="plus" class="ft-icon--2" />
    </button>
  </div>
</div>
<div class="ft-page__content ft-anim-enter">
  @if (entities.loading()) {
    <div class="flex items-center justify-center h-full" i18n>Loading...</div>
  } @else if (!entities.loading() && entities.value()?.length) {
    <div class="ft-container">
      <div
        class="ft-observe-interseting"
        (ftObserveIntersecting)="layoutManager.setOverlapped($any($event), datagridHeaderElement)"
      ></div>
      <table class="ft-table">
        <thead class="ft-sticky" #datagridHeaderElement>
          <tr>
            <th i18n>Id</th>
            <th i18n>Firstname</th>
            <th i18n>Lastname</th>
            <th i18n>Phone</th>
            <th i18n>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (entity of entities.value(); track entity.id) {
            <tr class="ft-tr-action" (click)="entityManager.open(entity.id)">
              <td>{{ entity.id }}</td>
              <td>{{ entity.firstName }}</td>
              <td>{{ entity.lastName }}</td>
              <td>{{ entity.phone }}</td>
              <td>{{ entity.email }}</td>
              <td></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  } @else if (!entities.value()?.length) {
    <div class="flex items-center justify-center h-full" i18n>No records</div>
  }
</div>
