<div class="ft-navbar" [class.ft-navbar--collapsed]="collapsed()">
  <div class="ft-navbar__menu">
    <div class="ft-navbar__actions">
      @for (option of navigationOptions(); track option.url) {
        <button
          type="button"
          [routerLink]="option.url"
          routerLinkActive="ft-active"
          matButton
          (click)="selectedOption.set(option)"
        >
          <div class="flex gap-4 items-center">
            <ft-icon [name]="option.icon" class="text-2xl" />
            <div class="ft-label">{{ option.label }}</div>
          </div>
        </button>
      }
    </div>
    @if (selectedOption()?.children?.length) {
      <div class="ft-navbar__actions">
        @for (option of selectedOption()?.children; track option.url) {
          <button type="button" [routerLink]="option.url" routerLinkActive="ft-active" matButton>
            <div class="flex gap-4 items-center">
              <div class="ft-label">{{ option.label }}</div>
            </div>
          </button>
        }
      </div>
    }
  </div>
  <button type="button" routerLink="/settings" class="ft-profile hidden md:block" matButton>
    <div class="flex gap-4 items-center">
      <ft-avatar
        [label]="session.user()?.firstName + ' ' + session.user()?.lastName"
        [src]="session.user()?.picture"
      />
      <div class="ft-item__label ft-label">
        <div>{{ session.user()?.firstName }} {{ session.user()?.lastName }}</div>
        <div class="text-gray-400">{{ session.user()?.email }}</div>
      </div>
    </div>
  </button>
  <div class="ft-splitter" (click)="toggleCollapse()"></div>
</div>
<div class="ft-content">
  <router-outlet />
</div>
