<div #headerElement class="ft-page__header">
  <div class="ft-actions"></div>
  <div class="ft-title" i18n>Customers</div>
  <div class="ft-actions"></div>
</div>
<div class="ft-page__content ft-anim-enter">
  <div class="ft-container">
    @if (customers.loading()) {
      <div>Cargando...</div>
    } @else if (!customers.loading() && customers.value()?.length) {
      <div
        class="ft-observe-interseting"
        (ftObserveIntersecting)="layoutManager.setOverlapped($event, datagridHeaderElement)"
      ></div>
      <table class="ft-table">
        <thead class="ft-sticky" #datagridHeaderElement>
          <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (customer of customers.value(); track customer.id) {
            <tr class="ft-tr-action" (click)="customerManager.open(customer)">
              <td>{{ customer.id }}</td>
              <td>{{ customer.firstName }}</td>
              <td>{{ customer.lastName }}</td>
              <td>{{ customer.phone }}</td>
              <td>{{ customer.email }}</td>
              <td></td>
            </tr>
          }
        </tbody>
      </table>
    } @else if (!customers.value()?.length) {
      <div>No hay registros</div>
    }
  </div>
</div>
