.ft-badge {
  display: inline-block;
  padding: 0.25em 0.8em;
  font-size: 75%;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.25rem;
  color: var(--ft-color-bg);
  background-color: #f8f9fa;
  border: 0;
  border-radius: 100vh;
  overflow: hidden;
  text-overflow: ellipsis;

  &--tag {
    background-color: var(--ft-border-color);
    color: var(--ft-color-text);
  }

  &--info {
    background-color: var(--ft-info-color);
  }

  &--danger {
    background-color: var(--ft-danger-color);
  }

  &--warning {
    background-color: var(--ft-warning-color);
  }

  &--success {
    background-color: var(--ft-success-color);
  }

  &--plus {
    background-color: var(--ft-success-color);
  }

  &__wrapper {
    flex-wrap: wrap;
  }
}
