.ft-controlbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  position: sticky;
  background-color: var(--ft-color-bg);
  bottom: 0;

  .mat-bottom-sheet-container & {
    bottom: -1rem;
  }

  &__item.mdc-button {
    min-height: 3rem;
    min-width: 160px !important;
    --mdc-icon-button-icon-color: var(--ft-dark-color);
  }
}
