@use '../../utils/mixins' as mixins;

.ft-list {
  &__header {
    padding: 0.5rem 0.25rem 0.5rem 1rem;
    font-size: var(--ft-text-font-size-md);
    font-weight: 700;
    text-transform: unset;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    min-height: 3rem;

    &.ft-overlapped {
      clip-path: inset(0 0 -10px 0);
    }
  }

  &__item {
    display: block;
    text-align: left;
    padding: 0.5rem 0.25rem 0.5rem 1rem;
    display: block;
    text-decoration: none;
    height: unset;
    font-size: var(--ft-text-font-size-md);
    border-radius: 0;
    border: 0;
    background: transparent;
    width: 100%;
    color: var(--ft-text-color);
    min-height: 3rem;

    &:is(button, a):hover {
      cursor: pointer;
      background-color: var(--ft-list-item-hover-bg);
    }

    &.ft-active {
      background-color: var(--ft-list-item-active-bg);
    }
  }

  &--sticky-header {
    .ft-list__header {
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: var(--ft-body-bg);
    }
  }
}
