.ft-navbar {
  background-color: var(--ft-body-bg);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  margin-top: auto;

  .ft-page--fullscreen + & {
    display: none;
  }

  .ft-chat-input__wrapper {
    padding-bottom: 0;
    max-width: 960px;
    width: 100%;
    margin-inline: auto;
  }

  &__actions {
    display: flex;
    position: relative;
    padding: 0.25rem;
    max-width: 960px;
    width: 100%;
    margin-inline: auto;

    button {
      font-size: 0.688rem;
      flex: 1;
      border-radius: 0;
      height: unset;
      padding-block: 0.5rem;
      padding-inline: 0;
      border-radius: 0.5rem;

      &.ft-active {
        color: var(--ft-primary-color);
      }
    }
  }
}
