.ft-progressbar {
  background-color: var(--ft-border-color);
  border-radius: 100vh;
  overflow: hidden;
  position: relative;
  height: 0.5rem;

  &__legend {
    font-size: var(--ft-text-font-size-sm);
    display: flex;
    gap: 1rem;
    > div:first-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
    .ft-value {
      font-size: var(--ft-text-font-size-md);
    }
  }

  &__indicator {
    height: 0.5rem;
    min-width: 0.5rem;
    background-color: var(--ft-primary-color);
    border-radius: 100vh;
    transition: width 1s;
    box-shadow: 0 0 0 2px var(--ft-color-bg);
  }

  &__negative {
    height: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--ft-danger-color);
    border-radius: 100vh;
    box-shadow: 0 0 0 2px var(--ft-color-bg);
    transition: width 1s;
  }
}
