@use '../../utils/mixins' as mixins;

.ft-table {
  background-color: var(--ft-table-bg);
  border-collapse: collapse;
  margin-inline: 1.5rem;
  width: -webkit-fill-available;

  &__wrapper {
    border: 1px solid var(--ft-border-color);
    border-radius: 0.5rem;
    overflow: auto;

    @include mixins.media-breakpoint-up(md) {
      overflow: hidden;
      width: fit-content;
    }
  }

  &__loader {
    padding: 1rem;
    text-align: center;
  }

  th,
  td {
    text-align: start;
    padding-inline: 1.125rem;
    padding-block: 0.5rem;
  }

  > thead {
    background-color: var(--ft-table-bg);

    th {
      white-space: nowrap;
      font-size: var(--ft-text-font-size-xs);
    }

    &.ft-sticky-top.ft-overlapped {
      clip-path: inset(0 0px -10px 1px);
    }
  }

  > tfoot {
    background-color: var(--ft-body-bg);

    &.ft-sticky-bottom.ft-overlapped {
      clip-path: inset(-10px 0 0 1px);
    }
  }

  > tbody > *:not(:last-child) > *,
  > thead > *:last-child > th {
    border-bottom: 1px solid var(--ft-border-color);
  }

  .ft-tr-action {
    cursor: pointer;

    &:hover td {
      background-color: var(--ft-list-hover-bg);
    }

    &:active td {
      background-color: var(--ft-list-active-bg);
    }

    &:focus td {
      background-color: var(--ft-list-focus-bg);
    }
  }

  .ft-actions {
    position: sticky;
    right: 0;
    background-color: var(--ft-table-bg);
  }
}
