<app-header
  mat-dialog-title
  [title]="entity.value() && entity.value()?.firstName + ' ' + entity.value()?.lastName"
  [subtitle]="entity.value()?.email ?? null"
>
  <ng-container ftStart>
    <button type="button" matIconButton i18n-title title="Close" mat-dialog-close>
      <ft-icon name="close" class="text-2xl" />
    </button>
  </ng-container>
  <ng-container ftEnd>
    @let contextMenuItems = entityManager.getContextMenu(entity.value(), ENTITY_CONTEXT.DETAIL);
    @if (contextMenuItems.length > 0) {
      <app-icon-button-context [items]="contextMenuItems" />
    }
  </ng-container>
</app-header>
<div mat-dialog-content>
  @if (entity.loading()) {
    <app-progress-placeholder
      class="ft-center p-6"
      i18n-label
      label="Loading..."
      iconClass="ft-progress--3"
    />
  } @else if (entity.error()) {
    <app-error-placeholder class="ft-center" [resource]="entity" />
  } @else {
    <div class="ft-container flex flex-col gap-4 pt-4">
      <div class="flex items-center justify-between">
        <div>{{ entity.value()?.email }}</div>
        <a [href]="`mailto:${entity.value()?.email}`" matButton="outlined">
          <div class="flex items-center gap-2">
            <ft-icon name="paper-plane" class="text-2xl" />
            <div i18n>Send email</div>
          </div>
        </a>
      </div>
      <div class="flex items-center justify-between">
        <div>{{ entity.value()?.phone }}</div>
        <a [href]="`tel:${entity.value()?.phone}`" matButton="outlined">
          <div class="flex items-center gap-2">
            <ft-icon name="phone" class="text-2xl" />
            <div i18n>Call</div>
          </div>
        </a>
      </div>
      <div class="flex items-center justify-between">
        <h2 i18n class="m-0">Relations</h2>
        <button type="button" matButton="outlined" (click)="addRelation()">
          <div class="flex items-center gap-2">
            <ft-icon name="plus" class="text-2xl" />
            <div i18n>Add relation</div>
          </div>
        </button>
      </div>
      @if (related.loading()) {
        <app-progress-placeholder
          class="ft-center p-6"
          i18n-label
          label="Loading..."
          iconClass="ft-progress--3"
        />
      } @else if (related.error()) {
        <app-error-placeholder class="ft-center" [resource]="related" />
      } @else {
        <table class="ft-table">
          <thead>
            <tr>
              <th i18n>Name</th>
              <th i18n>Email</th>
              <th class="w-[57px]"></th>
            </tr>
          </thead>
          <tbody>
            @for (entity of related.value()?.slice(0, 3); track entity.id) {
              <tr>
                <td>{{ entity.firstName }} {{ entity.lastName }}</td>
                <td>{{ entity.email }}</td>
                <td>
                  <button type="button" matIconButton>
                    <ft-icon name="trash" class="text-2xl" />
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      }
    </div>
  }
</div>
