<div #headerElement mat-dialog-title>
  <div class="ft-actions">
    <button type="button" matIconButton i18n-title title="Close" mat-dialog-close>
      <ft-icon name="arrow-left" class="ft-icon--2" />
    </button>
  </div>
  <div class="ft-title grow-1" i18n>Entity</div>
  <div class="ft-actions">
    @let contextMenuItems = entityManager.getContextMenu(entity.value(), ENTITY_CONTEXT.DETAIL);
    @if (contextMenuItems.length > 0) {
      <button
        type="button"
        mat-icon-button
        [matMenuTriggerFor]="contextMenu"
        (click)="$event.stopPropagation()"
      >
        <ft-icon name="ellipsis-vertical" />
      </button>
      <mat-menu #contextMenu="matMenu">
        @for (group of contextMenuItems; track group.id) {
          @if ($index > 0) {
            <hr class="my-2" />
          }
          @for (action of group.children; track action.id) {
            <button type="button" mat-menu-item (click)="action.click?.()">
              {{ action.label }}
            </button>
          }
        }
      </mat-menu>
    }
  </div>
</div>
<div mat-dialog-content>
  @if (!entity.loading()) {
    <div
      class="ft-observe-interseting"
      (ftObserveIntersecting)="layoutManager.setOverlapped($any($event), headerElement)"
    ></div>
    <div class="ft-container">
      <table>
        <tr>
          <th class="text-left" i18n>First name</th>
          <td class="px-4">{{ entity.value()?.firstName }}</td>
          <th class="text-left" i18n>Last name</th>
          <td class="px-4">{{ entity.value()?.lastName }}</td>
        </tr>
        <tr>
          <th class="text-left" i18n>Email</th>
          <td class="px-4">{{ entity.value()?.email }}</td>
          <th class="text-left" i18n>Phone</th>
          <td class="px-4">{{ entity.value()?.phone }}</td>
        </tr>
      </table>
    </div>
  } @else if (entity.loading()) {
    <div class="flex flex-col items-center justify-center gap-2 h-full">
      <ft-progress class="ft-progress--3" />
      <div i18n>Loading...</div>
    </div>
  }
</div>
<ng-template #submittingTemplate>
  <div class="text-center">
    <ft-progress class="ft-progress--2" />
  </div>
</ng-template>
