<form [formGroup]="form" (ngSubmit)="submit()">
  <div mat-dialog-content class="ft-pbe-0">
    <p i18n>
      Enter your email address to recieve reset instructions. You may need to
      check your spam folder.
    </p>
    <mat-form-field appearance="fill" class="ft-mbe-2">
      <mat-label i18n>Email address</mat-label>
      <input type="text" matInput formControlName="email" maxlength="180" />
      @if (form.get('email')?.invalid) {
        <mat-error>{{
          appService.getErrorMessage(form.get('email'))
        }}</mat-error>
      }
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button
      type="button"
      mat-button
      [disabled]="submitting()"
      mat-dialog-close
      i18n
    >
      Cancel
    </button>
    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="submitting()"
    >
      @if (!submitting()) {
        <span i18n>Submit</span>
      } @else {
        <ng-container *ngTemplateOutlet="submittingTemplate" />
      }
    </button>
  </div>
</form>
<ng-template #submittingTemplate>
  <div class="ft-ta-c">
    <ft-progress class="ft-progress--2"></ft-progress>
  </div>
</ng-template>
