@use 'layout';
@use 'typography';
@use 'animations';
@use 'material';
@use 'components';
@use 'reboot';
@use 'variables';

.ft-html-section {
  a {
    pointer-events: none;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

.ft-validation-error {
  color: var(--mat-form-field-error-text-color);
  width: fit-content;
  padding: 0.25rem 1rem;
  border-radius: 100vh;
  font-size: var(--mat-form-field-subscript-text-size);
}

.ft-hr-label {
  text-align: center;
  display: flex;
  align-items: center;

  &::after,
  &::before {
    content: '';
    position: relative;
    width: 50%;
    background-color: var(--ft-border-color);
    display: inline-block;
    height: 1px;
    vertical-align: middle;
  }

  &__text {
    margin: 0 1rem;
  }
}

.ft-sharing-container {
  width: 400px;
  background-color: var(--ft-light-color);
  padding: 1rem;
  color: var(--ft-dark-color) !important;
  --ft-text-color: var(--ft-dark-color);
  --ft-border-color: color-mix(in srgb, var(--ft-text-color) 20%, transparent);
  --ft-thumbnail-bg: color-mix(
    in srgb,
    var(--ft-border-color) 40%,
    transparent
  );
  --ft-text-muted-color: color-mix(
    in srgb,
    var(--ft-text-color) 50%,
    transparent
  );

  .ft-logo {
    margin-inline: auto;
    margin-top: 1rem;
    display: block;
    height: 20px;
  }
}

.ft-circle {
  width: 0.5rem;
  min-width: 0.5rem;
  height: 0.5rem;
  border-radius: 5px;
  margin-top: 7px;
}

.ft-searchbox {
  position: relative;
  background-color: var(--ft-body-bg);
  display: flex;
  align-items: center;

  &__wrapper {
    .mat-bottom-sheet-container {
      padding: 0 !important;
    }
  }

  .ft-icon {
    position: absolute;
    margin-left: 1rem;
  }

  input {
    background-color: var(--ft-body-bg);
    width: 100%;
    height: 52px;
    border: 0;
    border-bottom: 1px solid var(--ft-border-color);
    padding: 10px 14px;
    color: var(--ft-text-color);
    text-indent: 2.5rem;

    &::placeholder {
      transition: color 0.2s;
      color: var(--ft-text-muted-color);
    }

    &:focus {
      outline: none;
      border-color: var(--ft-primary-color);
      box-shadow: 0 1px 0 0 var(--ft-primary-color);

      &::placeholder {
        color: color-mix(in srgb, var(--ft-text-muted-color) 30%, transparent);
      }
    }
  }
}
