// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'utils/mixins' as mixins;
@use 'theme-colors' as theme-colors;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: theme-colors.$primary-palette,
      typography: var(--ft-text-font-family),
      density: 0
    )
  );

  --mat-button-filled-container-color: var(--ft-primary-color);
  --mat-button-filled-container-shape: 0.5rem;
  --mat-button-filled-container-height: 40px;
  --mat-button-filled-label-text-tracking: 0;
  --mat-button-filled-label-text-font: var(--ft-text-font-family);
  --mat-button-filled-label-text-size: var(--ft-text-font-size-sm);
  --mat-button-filled-label-text-weight: 600;
  --mat-button-filled-label-text-color: var(--ft-dark-color);
  --mat-button-filled-disabled-container-color: var(--ft-border-color);

  --mat-button-text-container-shape: 0.5rem;
  --mat-button-text-container-height: 40px;
  --mat-button-text-label-text-tracking: 0;
  --mat-button-text-label-text-font: var(--ft-text-font-family);
  --mat-button-text-label-text-size: var(--ft-text-font-size-sm);
  --mat-button-text-label-text-weight: 600;
  --mat-button-text-label-text-color: var(--ft-color-text);
  --mat-button-text-disabled-label-text-color: var(--ft-text-muted-color);
  --mat-button-text-horizontal-padding: 1rem;

  --mat-button-outlined-container-shape: 0.5rem;
  --mat-button-outlined-container-height: 40px;
  --mat-button-outlined-label-text-tracking: 0;
  --mat-button-outlined-label-text-font: var(--ft-text-font-family);
  --mat-button-outlined-label-text-size: var(--ft-text-font-size-sm);
  --mat-button-outlined-label-text-weight: 600;
  --mat-button-outlined-label-text-color: var(--ft-color-text);
  --mat-button-outlined-disabled-label-text-color: var(--ft-text-muted-color);
  --mat-button-outlined-horizontal-padding: 1rem;
  --mat-button-outlined-outline-color: var(--ft-border-color);

  --mat-icon-button-icon-color: var(--ft-color-text);
  --mat-icon-button-disabled-icon-color: var(--ft-text-muted-color);

  --mdc-list-list-item-label-text-weight: var(--ft-text-font-weight);

  --mat-form-field-filled-container-color: var(--ft-input-bg);
  --mat-form-field-filled-container-shape: 0.5rem;
  --mat-form-field-filled-label-text-tracking: 0;
  --mat-form-field-filled-label-text-font: var(--ft-text-font-family);
  --mat-form-field-filled-input-text-color: var(--ft-color-text);
  --mat-form-field-filled-label-text-color: color-mix(
    in srgb,
    var(--ft-color-text) 60%,
    transparent
  );
  --mat-form-field-filled-active-indicator-color: var(--ft-border-color);
  --mat-form-field-filled-hover-label-text-color: color-mix(
    in srgb,
    var(--ft-color-text) 80%,
    transparent
  );
  --mat-form-field-filled-hover-active-indicator-color: color-mix(
    in srgb,
    var(--ft-color-text) 80%,
    transparent
  );
  --mat-form-field-filled-disabled-container-color: var(--ft-input-disabled-bg);
  --mat-form-field-filled-disabled-input-text-color: color-mix(
    in srgb,
    var(--ft-color-text) 20%,
    transparent
  );
  --mat-form-field-filled-disabled-label-text-color: color-mix(
    in srgb,
    var(--ft-color-text) 20%,
    transparent
  );
  --mat-form-field-filled-error-label-text-color: var(--ft-danger-color);
  --mat-form-field-filled-error-hover-label-text-color: var(--ft-danger-color);

  --mdc-plain-tooltip-supporting-text-font: var(--ft-text-font-family);

  --mat-dialog-actions-padding: 1rem 1.5rem;
  --mat-dialog-actions-alignment: flex-end;
  --mat-dialog-container-small-max-width: calc(100vw - 2rem);
  --mat-dialog-container-shape: 0.5rem;
  --mat-dialog-container-color: var(--ft-color-bg);
  --mat-dialog-content-padding: 1.5rem 1.5rem 0;
  --mat-dialog-supporting-text-tracking: 0;
  --mat-dialog-supporting-text-line-height: var(--ft-text-line-height);
  --mat-dialog-supporting-text-color: var(--ft-color-text);
  --mat-dialog-subhead-color: var(--ft-color-text);
  --mat-dialog-subhead-tracking: 0;
  --mat-dialog-headline-padding: 0.5rem 0.25rem 0.5rem 1.5rem;
  --mat-dialog-with-actions-content-padding: 1.5rem 1.5rem 0;

  --mdc-snackbar-supporting-text-font: var(--ft-text-font-family);
  --mdc-snackbar-supporting-text-color: var(--ft-color-bg);
  --mdc-snackbar-container-shape: 0.5rem;
  --mdc-snackbar-container-color: var(--ft-color-text);
  --mat-snack-bar-button-color: var(--ft-primary-color);

  --mat-radio-label-text-tracking: 0;
  --mat-radio-label-text-font: var(--ft-text-font-family);
  --mat-radio-label-text-size: var(--ft-text-font-size);
  --mat-radio-label-text-color: var(--ft-color-text);
  --mat-radio-label-text-line-height: 1.2;

  --mat-checkbox-label-text-font: var(--ft-text-font-family);
  --mat-checkbox-label-text-size: var(--ft-text-font-size);
  --mat-checkbox-label-text-color: var(--ft-color-text);
  --mdc-checkbox-unselected-icon-color: var(--ft-border-color);
  --mdc-checkbox-unselected-hover-icon-color: var(--ft-border-color);
  --mdc-checkbox-unselected-focus-icon-color: var(--ft-border-color);
  --mdc-checkbox-selected-checkmark-color: var(--ft-dark-color);

  --mat-menu-item-label-text-tracking: 0;
  --mat-menu-item-label-text-font: var(--ft-text-font-family);
  --mat-menu-item-label-text-size: var(--ft-text-font-size);
  --mat-menu-item-label-text-weight: var(--ft-text-font-weight);
  --mat-menu-item-label-text-color: var(--ft-color-text);
  --mat-menu-container-color: var(--ft-color-bg);
  --mat-menu-container-shape: 0.5rem;

  --mat-form-field-container-text-font: var(--ft-text-font-family);
  --mat-form-field-container-text-tracking: 0;
  --mat-form-field-subscript-text-font: var(--ft-text-font-family);
  --mat-form-field-subscript-text-tracking: 0;
  --mat-form-field-error-text-color: var(--ft-danger-color);
  --mat-form-field-filled-error-label-text-color: var(--ft-danger-color);

  --mat-select-trigger-text-font: var(--ft-text-font-family);
  --mat-select-trigger-text-tracking: 0;
  --mat-select-enabled-trigger-text-color: var(--ft-color-text);
  --mat-select-enabled-arrow-color: var(--ft-color-text);
  --mat-select-disabled-trigger-text-color: color-mix(
    in srgb,
    var(--ft-color-text) 20%,
    transparent
  );
  --mat-select-disabled-arrow-color: color-mix(in srgb, var(--ft-color-text) 20%, transparent);
  --mat-select-panel-background-color: var(--ft-color-bg);

  --mat-option-label-text-font: var(--ft-text-font-family);
  --mat-option-label-text-tracking: 0;
  --mat-option-label-text-weight: 500;
  --mat-option-label-text-color: var(--ft-color-text);
  --mat-optgroup-label-text-color: var(--ft-color-text);
  --mat-optgroup-label-text-font: var(--ft-text-font-family);
  --mat-optgroup-label-text-tracking: 0;
  --mat-optgroup-label-text-weight: 700;

  --mat-datepicker-calendar-text-font: var(--ft-text-font-family);
  --mat-datepicker-calendar-header-text-color: var(--ft-color-text);
  --mat-datepicker-calendar-period-button-text-color: var(--ft-color-text);
  --mat-datepicker-calendar-period-button-icon-color: var(--ft-color-text);
  --mat-datepicker-calendar-body-label-text-color: var(--ft-color-text);
  --mat-datepicker-calendar-navigation-button-icon-color: var(--ft-color-text);
  --mat-datepicker-calendar-date-text-color: var(--ft-color-text);
  --mat-datepicker-calendar-date-disabled-state-text-color: color-mix(
    in srgb,
    var(--ft-color-text) 20%,
    transparent
  );
  --mat-datepicker-calendar-date-today-outline-color: var(--ft-primary-color);
  --mat-datepicker-calendar-date-preview-state-outline-color: var(--ft-primary-color);
  --mat-datepicker-calendar-container-background-color: var(--ft-color-bg);
  --mat-datepicker-calendar-header-divider-color: var(--ft-border-color);

  --mat-bottom-sheet-container-text-font: var(--ft-text-font-family);
  --mat-bottom-sheet-container-text-size: var(--ft-text-font-size);
  --mat-bottom-sheet-container-text-weight: var(--ft-text-font-weight);
  --mat-bottom-sheet-container-text-color: var(--ft-color-text);
  --mat-bottom-sheet-container-text-tracking: 0;
  --mat-bottom-sheet-container-background-color: var(--ft-color-bg);
  --mat-bottom-sheet-container-shape: 1rem;

  .mat-mdc-form-field {
    display: flex;
  }
}

.mat-mdc-icon-button {
  &.mat-mdc-button-base {
    --mdc-icon-button-state-layer-size: unset;
    padding: 8px;
  }

  .ft-icon {
    display: block;

    svg {
      width: 1em;
      height: 1em;
    }
  }
}

.mdc-icon-button {
  .ft-badge {
    position: absolute;
    font-size: 10px;
    border-radius: 100vh;
    background-color: var(--ft-danger-color);
    min-width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 2px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: ft-bounce 0.3s ease;
  }
}

.mat-mdc-form-field-icon-suffix,
[dir='rtl'] .mat-mdc-form-field-icon-prefix {
  padding: 0 0.25rem 0 0.25rem !important;
}

.mat-mdc-optgroup .mat-mdc-option:not(.mat-mdc-option-multiple) {
  padding-left: 1rem !important;
}
