// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'theme-colors' as theme-colors;

html {
  color-scheme: light dark;
  height: 100%;
  @include mat.theme(
    (
      color: theme-colors.$primary-palette,
      typography: var(--ft-font-family-base),
      density: 0
    )
  );
}

.mdc-icon-button {
  .ft-icon {
    @apply block;
  }

  .ft-badge {
    @apply absolute text-[10px] rounded-full min-w-[18px] h-[18px] top-0 left-0 p-0 flex items-center justify-center;
    background-color: var(--ft-color-danger);
    color: var(--ft-color-light);
    box-shadow: 0 0 0 2px var(--ft-color-light);
    animation: ft-bounce 0.3s ease;
    padding-inline: 0.25rem;
    font-weight: var(--ft-font-weight-bold);
  }
}

.mdc-button {
  line-height: 1 !important;
}

.mat-bottom-sheet-container {
  padding: 0 !important;
}

.mat-mdc-form-field {
  width: 100%;
}
