html,
body {
  height: 100%;
}

body {
  overscroll-behavior-y: contain;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
  cursor: pointer;
}

/* Prevent the browser from forcing dark mode */
meta[name='color-scheme'][content='dark light'],
meta[name='supported-color-schemes'][content='dark light'] {
  --samsung-invert-colors: 0 !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

app-root {
  display: block;
  height: 100%;
}

.mdc-icon-button {
  .ft-icon {
    @apply block;
  }
}

.mdc-button {
  line-height: 1 !important;
}

.mat-mdc-form-field {
  @apply w-full!;
}
