<div class="ft-page__header">
  <div class="ft-actions"></div>
  <div class="ft-title" i18n>Home</div>
  <div class="ft-actions"></div>
</div>
<div class="ft-page__content ft-anim-enter">
  <div class="ft-container">
    <h2>Páginas</h2>
    <a routerLink="/settings">Settings</a><br />
    <a routerLink="/settings">Notificaciones</a><br />
    <hr />
    <h2>Errores</h2>
    <a routerLink="/error/0">Error 0</a><br />
    <a routerLink="/error/403">Error 403</a><br />
    <a routerLink="/error/404">Error 404</a><br />
    <a routerLink="/error/412">Error 412</a><br />
    <a routerLink="/error/500">Error 500</a><br />
    <a routerLink="/error/503">Error 503</a><br />
  </div>
</div>
