<form [formGroup]="form" (ngSubmit)="submit()">
  <div mat-dialog-content class="pb-0">
    @if (!passwordVisible()) {
      <mat-form-field appearance="fill" class="mb-2">
        <mat-label i18n>Current password</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          maxlength="16"
          autocomplete="current-password"
        />
        @if (!submitting()) {
          <button type="button" matSuffix mat-icon-button (click)="togglePasswordVisible()">
            <ft-icon name="eye" class="ft-icon--2"></ft-icon>
          </button>
        }
        @if (form.get('password')?.invalid) {
          <mat-error>{{ form.get('password') | errorMessage }}</mat-error>
        }
      </mat-form-field>
    }
    @if (passwordVisible()) {
      <mat-form-field appearance="fill" class="mb-2">
        <mat-label i18n>Current password</mat-label>
        <input type="text" matInput formControlName="password" maxlength="16" autocomplete="off" />
        @if (!submitting()) {
          <button type="button" matSuffix mat-icon-button (click)="togglePasswordVisible()">
            <ft-icon name="eye--strike-through" class="ft-icon--2"></ft-icon>
          </button>
        }
        @if (form.get('password')?.invalid) {
          <mat-error>{{ form.get('password') | errorMessage }}</mat-error>
        }
      </mat-form-field>
    }
    <div class="ft-password-field">
      @if (!newPasswordVisible()) {
        <mat-form-field appearance="fill" class="mb-2">
          <mat-label i18n>New password</mat-label>
          <input
            type="password"
            matInput
            formControlName="newPassword"
            maxlength="16"
            autocomplete="new-password"
          />
          @if (!submitting()) {
            <button type="button" matSuffix mat-icon-button (click)="toggleNewPasswordVisible()">
              <ft-icon name="eye" class="ft-icon--2"></ft-icon>
            </button>
          }
          @if (form.get('newPassword')?.invalid) {
            <mat-error>
              @if (form.get('newPassword')?.hasError('required')) {
                {{ form.get('newPassword') | errorMessage }}
              } @else {
                <ng-container i18n>It must meet the security requirements</ng-container>
              }
            </mat-error>
          }
        </mat-form-field>
      }
      @if (newPasswordVisible()) {
        <mat-form-field appearance="fill" class="mb-2">
          <mat-label i18n>New password</mat-label>
          <input
            type="text"
            matInput
            formControlName="newPassword"
            maxlength="16"
            autocomplete="off"
          />
          @if (!submitting()) {
            <button type="button" matSuffix mat-icon-button (click)="toggleNewPasswordVisible()">
              <ft-icon name="eye--strike-through" class="ft-icon--2"></ft-icon>
            </button>
          }
          @if (form.get('newPassword')?.invalid) {
            <mat-error>
              @if (form.get('newPassword')?.hasError('required')) {
                {{ form.get('newPassword') | errorMessage }}
              } @else {
                <ng-container i18n>It must meet the security requirements</ng-container>
              }
            </mat-error>
          }
        </mat-form-field>
      }
      <div class="ft-password-field__instructions">
        <div
          class="flex gap-4 items-center"
          [class.text-gray-500]="form.get('newPassword')?.hasError('minLength')"
          [class.text-green-500]="!form.get('newPassword')?.hasError('minLength')"
        >
          <ft-icon
            [name]="form.get('newPassword')?.hasError('minLength') ? 'circle' : 'check--circle'"
            class="ft-icon--1"
          />
          <div i18n>Must contain at least 8 characters</div>
        </div>
        <div
          class="flex gap-4 items-center"
          [class.text-gray-500]="form.get('newPassword')?.hasError('upperCase')"
          [class.text-green-500]="!form.get('newPassword')?.hasError('upperCase')"
        >
          <ft-icon
            [name]="form.get('newPassword')?.hasError('upperCase') ? 'circle' : 'check--circle'"
            class="ft-icon--1"
          />
          <div i18n>Must contain at least 1 uppercase letter</div>
        </div>
        <div
          class="flex gap-4 items-center"
          [class.text-gray-500]="form.get('newPassword')?.hasError('lowerCase')"
          [class.text-green-500]="!form.get('newPassword')?.hasError('lowerCase')"
        >
          <ft-icon
            [name]="form.get('newPassword')?.hasError('lowerCase') ? 'circle' : 'check--circle'"
            class="ft-icon--1"
          />
          <div i18n>Must contain at least 1 lowercase letter</div>
        </div>
        <div
          class="flex gap-4 items-center"
          [class.text-gray-500]="form.get('newPassword')?.hasError('specialCharacter')"
          [class.text-green-500]="!form.get('newPassword')?.hasError('specialCharacter')"
        >
          <ft-icon
            [name]="
              form.get('newPassword')?.hasError('specialCharacter') ? 'circle' : 'check--circle'
            "
            class="ft-icon--1"
          />
          <div i18n>Must contain at least 1 special character</div>
        </div>
        <div
          class="flex gap-4 items-center"
          [class.text-gray-500]="form.get('newPassword')?.hasError('number')"
          [class.text-green-500]="!form.get('newPassword')?.hasError('number')"
        >
          <ft-icon
            [name]="form.get('newPassword')?.hasError('number') ? 'circle' : 'check--circle'"
            class="ft-icon--1"
          />
          <div i18n>Must contain at least 1 number</div>
        </div>
      </div>
    </div>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label i18n>Confirm new password</mat-label>
      <input type="password" matInput formControlName="confirmPassword" maxlength="60" />
      @if (form.get('confirmPassword')?.invalid) {
        <mat-error>{{
          form.get('confirmPassword') | errorMessage: { notEqual: notEqualMessage }
        }}</mat-error>
      }
    </mat-form-field>
  </div>
  <div #actionsElement mat-dialog-actions>
    <button type="button" mat-button [disabled]="submitting()" mat-dialog-close i18n>Cancel</button>
    <button type="submit" mat-flat-button color="primary" [disabled]="submitting()">
      @if (!submitting()) {
        <span i18n>Submit</span>
      } @else {
        <ng-container *ngTemplateOutlet="submittingTemplate"></ng-container>
      }
    </button>
  </div>
</form>
<ng-template #submittingTemplate>
  <div class="text-center">
    <ft-progress class="ft-progress--2"></ft-progress>
  </div>
</ng-template>
