<app-header mat-dialog-title title="Relations">
  <ng-container ftStart>
    <button type="button" matIconButton i18n-title title="Close" mat-dialog-close>
      <ft-icon name="close" class="text-2xl" />
    </button>
  </ng-container>
</app-header>
<div mat-dialog-content>
  <div class="rounded-xl bg-white py-2">
    @if (related.loading()) {
      <app-progress-placeholder
        class="ft-center p-6"
        i18n-label
        label="Loading..."
        iconClass="ft-progress--3"
      />
    } @else if (related.error()) {
      <app-error-placeholder class="ft-center" [resource]="related" />
    } @else {
      <table class="ft-table">
        <thead>
          <tr>
            <th i18n>Name</th>
            <th i18n>Email</th>
            <th class="w-[57px]"></th>
          </tr>
        </thead>
        <tbody>
          @for (entity of related.value()?.slice(0, 3); track entity.id) {
            <tr>
              <td>{{ entity.firstName }} {{ entity.lastName }}</td>
              <td>{{ entity.email }}</td>
              <td>
                <button type="button" matIconButton>
                  <ft-icon name="trash" class="text-2xl" />
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
</div>
<div mat-dialog-actions>
  <button type="button" matButton="outlined" mat-dialog-close i18n>Close</button>
  <button type="button" matButton="filled" color="primary" (click)="addRelation()" i18n>
    Add relation
  </button>
</div>
