@if (message()) {
<div class="ft-message ft-message--block ft-message--warning">
  <ft-icon name="warning" class="ft-icon--4" collection="factoricons-slim" />
  <div>{{ message() }}</div>
</div>
}
<div class="ft-ta-c ft-pb-3">
  <img src="images/plus.svg" alt="Plus Art" />
</div>
<div class="ft-title ft-mbe-5">
  <div i18n>Upgrade to</div>
  <div class="ft-logo-plus"></div>
</div>
@if (subscriptionDetail()?.price) {
<div class="ft-price ft-mb-3">
  <strong>
    {{ subscriptionDetail().price?.value | number }} {{
    subscriptionDetail().price?.currency }}</strong
  >
  / <ng-container i18n>Monthly</ng-container>
</div>
}
<div class="ft-features">
  <div>
    <ft-icon name="check--circle" class="ft-icon--2" />
    <div i18n>Feature description</div>
  </div>
</div>
<small class="ft-d-b ft-tc-muted ft-mbs-5 ft-pbe-4" i18n
  >Enjoy
  <strong style="color: var(--ft-text-color)">30 days of free trial</strong>. If
  you choose to continue, billing will automatically start from the second
  month. No charges will be applied during the trial period.<br /><br />
  You can cancel anytime, and you will only be billed up to the last paid
  month.</small
>
