<div class="ft-navbar" [class.ft-navbar--collapsed]="collapsed()">
  <div class="ft-navbar__menu">
    <div class="ft-navbar__actions">
      @for (option of navigationOptions(); track option.url) {
        <button
          type="button"
          [routerLink]="option.url"
          routerLinkActive="ft-active"
          mat-button
          (click)="selectedOption.set(option)"
        >
          <div class="flex gap-4 items-center">
            <ft-icon [name]="option.icon" class="ft-icon--2" />
            <div class="ft-label" i18n>{{ option.label }}</div>
          </div>
        </button>
      }
    </div>
    @if (selectedOption()?.children?.length) {
      <div class="ft-navbar__actions">
        @for (option of selectedOption()?.children; track option.url) {
          <button type="button" [routerLink]="option.url" routerLinkActive="ft-active" mat-button>
            <div class="flex gap-4 items-center">
              <div class="ft-label" i18n>{{ option.label }}</div>
            </div>
          </button>
        }
      </div>
    }
  </div>
  <button type="button" routerLink="/settings" class="ft-profile hidden md:block" mat-button>
    <div class="flex gap-4 items-center">
      <ft-avatar
        [label]="
          authService.settings()?.user?.firstName + ' ' + authService.settings()?.user?.lastName
        "
        [src]="authService.settings()?.user?.picture"
      />
      <div class="ft-item__label ft-label">
        <div>
          {{ authService.settings()?.user?.firstName }} {{ authService.settings()?.user?.lastName }}
        </div>
        <div class="text-gray-500">{{ authService.settings()?.user?.email }}</div>
      </div>
    </div>
  </button>
  <div class="ft-splitter" (click)="toggleCollapse()"></div>
</div>
<div class="ft-content">
  <router-outlet />
</div>
