@use '../../../../theme/utils/mixins' as mixins;

:host {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;

  @include mixins.media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.ft-content {
  flex-grow: 1;
  overflow-y: auto;
}

.ft-navbar {
  background-color: var(--ft-body-bg);
  z-index: 1000;
  display: flex;
  flex-direction: column;

  @include mixins.media-breakpoint-down(md) {
    box-shadow: var(--ft-overlapped-shadow);
  }

  @include mixins.media-breakpoint-up(md) {
    flex-direction: column;
    min-width: 200px;
    border-right: 1px solid var(--ft-border-color);
  }

  &__actions {
    display: flex;
    position: relative;
    padding: 0.25rem;
    max-width: 960px;
    width: 100%;
    margin-inline: auto;

    button {
      font-size: 0.688rem;
      flex: 1;
      border-radius: 0;
      height: unset;
      padding-block: 0.5rem;
      padding-inline: 0;
      border-radius: 0.5rem;

      &.ft-active {
        color: var(--ft-primary-color);
      }
    }
  }
}
