@use '../../../../theme/utils/mixins' as mixins;

:host {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  padding-top: max(env(safe-area-inset-top), 0);
  padding-bottom: max(env(safe-area-inset-bottom), 0);
  overflow: hidden;

  @include mixins.media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.ft-content {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
}

.ft-navbar {
  display: flex;
  flex-direction: column;
  background-color: #ececec;
  position: relative;
  transition: width 0.3s;

  @include mixins.media-breakpoint-down(md) {
    box-shadow: var(--ft-overlapped-shadow);
  }

  @include mixins.media-breakpoint-up(md) {
    width: 250px;
    background-color: color-mix(in srgb, var(--ft-border-color) 40%, transparent);
  }

  .ft-current-space {
    border-radius: 0.5rem;
    margin: 0.5rem;
    border: 1px solid var(--ft-border2-color);
    height: 48px;
    text-align: left;
    min-width: 0;
  }

  .ft-chat-input__wrapper {
    padding-bottom: 0;
    max-width: 960px;
    width: 100%;
    margin-inline: auto;
  }

  &__actions {
    display: flex;
    padding: 0.25rem;
    width: 100%;
    transition: max-width 0.3s;
    overflow: hidden;

    @include mixins.media-breakpoint-up(md) {
      flex-direction: column;
      flex-grow: 1;
      padding: 0.5rem;
      max-width: 100%;
    }

    button {
      border-radius: 0;
      padding-block: 0.5rem;
      padding-inline: 0;
      border-radius: 0.5rem;
      min-width: unset;
      transition:
        height 0.3s,
        padding 0.3s;

      &:hover {
        background-color: color-mix(in srgb, var(--ft-color-bg) 30%, transparent);
      }

      &.ft-active {
        color: var(--ft-list-active-bg);
      }

      @include mixins.media-breakpoint-down(md) {
        font-size: 0.688rem;
        flex: 1;
        height: unset;

        .ft-item {
          flex-direction: column;
          gap: 0;
        }
      }

      @include mixins.media-breakpoint-up(md) {
        padding: 0.5rem;
        display: block;
        font-size: var(--ft-text-font-size-sm);

        .ft-item {
          gap: 0.75rem;
        }

        &.ft-active {
          color: unset;
          background-color: var(--ft-color-bg);
        }
      }
    }

    .ft-label {
      white-space: nowrap;
    }

    .ft-fab {
      background-color: var(--ft-primary-color);
      border-radius: 100vh;
      color: var(--ft-dark-color);
      padding: 0;
      box-shadow: var(--ft-overlapped-shadow);
      min-width: 48px;
      height: 40px;

      @media (min-width: 410px) {
        min-width: 56px;
      }

      &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline: 0.25rem;
      }
    }
  }

  &__menu {
    display: flex;
    flex-grow: 1;

    &:has(.ft-navbar__actions:nth-of-type(2)) .ft-navbar__actions:first-of-type {
      max-width: 56px;
      border-right: 1px solid var(--ft-border-color);

      .ft-label {
        display: none;
      }
    }
  }

  .ft-profile {
    font-size: 0.875rem;
    text-align: left;
    height: unset;
    border-radius: 0;
    padding: 0.5rem;
    overflow: hidden;
    border-radius: 0.5rem;
    margin: 0.5rem;
    min-width: 0;
    --ft-avatar-size: 2rem;
    transition: border-radius 0.3s;

    .ft-item {
      gap: 0.5rem;

      &__label {
        overflow: hidden;

        > div {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .ft-splitter {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: color-mix(in srgb, var(--ft-color-text) 20%, var(--ft-color-bg));
    right: -2px;
    width: 4px;
    z-index: 4;
    opacity: 0;
    transition: opacity 0.1s;
    cursor: w-resize;

    &:hover {
      opacity: 1;
    }
  }

  &--collapsed {
    @include mixins.media-breakpoint-up(md) {
      & {
        width: 64px !important;
      }

      .ft-navbar__actions:first-of-type {
        max-width: 64px !important;
      }

      button {
        height: 48px;
        padding: 12px;
      }

      .ft-navbar__actions + .ft-navbar__actions,
      .ft-label {
        display: none;
      }

      .ft-splitter {
        cursor: e-resize;
      }

      .ft-profile {
        border-radius: 100vh;
      }

      .ft-navbar__actions {
        border: 0 !important;
      }
    }
  }
}
