.ft-content {
  &--nodata {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;

    .ft-image--nodata {
      width: 200px;
      height: 200px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 2rem;
      margin-inline: auto;
    }

    .mdc-button {
      min-height: 3rem;
      min-width: 180px !important;
      --mdc-icon-button-icon-color: var(--ft-dark-color);
    }

    p {
      margin-top: 3rem;
      font-size: 0.875rem;
      color: var(--ft-text-muted-color);
    }
  }

  > .ft-container {
    max-width: 960px;
    margin-inline: auto;
  }
}
