.ft-header {
  padding: 0.5rem 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  top: 0;
  position: sticky;
  background-color: var(--ft-body-bg);
  z-index: 2;

  &__title {
    font-size: var(--ft-text-font-size-lg);
    font-weight: 600;
    flex-grow: 1;
  }
}
