.ft-item {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__content {
    overflow: hidden;
    flex-grow: 1;
  }

  &__label {
    font-weight: var(--ft-text-font-weight);
    line-height: 1.5;
  }

  &__note {
    color: var(--ft-text-muted-color);
    font-size: var(--ft-text-font-size-sm);
    font-weight: 500;
  }

  &__actions {
    display: flex;
    gap: 0.25rem;
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;
  }

  &__avatars {
    display: flex;

    .ft-avatar {
      width: 1.5rem;
      height: 1.5rem;
      min-width: 1.5rem;
      --ft-avatar-size: 1.5rem !important;
      box-shadow: 0 0 0 2px var(--ft-body-bg);
    }
  }
}
