.ft-ph {
  min-width: 2rem;
  overflow: hidden;
  will-change: transform;
  position: relative;
  border-radius: 4px;
  background-color: color-mix(in srgb, var(--ft-text-color) 10%, transparent);

  &::after {
    content: '';
    display: block;
    background-color: color-mix(in srgb, var(--ft-text-color) 5%, transparent);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    animation: 1.5s ft-ph-loading ease-in-out infinite;
  }
}

@keyframes ft-ph-loading {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
