.ft-searchbox {
  position: relative;
  background-color: var(--ft-color-bg);
  display: flex;
  align-items: center;

  &__wrapper {
    .mat-bottom-sheet-container {
      padding: 0 !important;
    }
  }

  .ft-icon {
    position: absolute;
    margin-left: 1rem;
  }

  input {
    background-color: var(--ft-color-bg);
    width: 100%;
    height: 52px;
    border: 0;
    border-bottom: 1px solid var(--ft-border-color);
    padding: 10px 14px;
    color: var(--ft-color-text);
    text-indent: 2.5rem;

    &::placeholder {
      transition: color 0.2s;
      color: var(--ft-text-muted-color);
    }

    &:focus {
      outline: none;
      border-color: var(--ft-primary-color);
      box-shadow: 0 1px 0 0 var(--ft-primary-color);

      &::placeholder {
        color: color-mix(in srgb, var(--ft-text-muted-color) 30%, transparent);
      }
    }
  }
}
