<form [formGroup]="form" (ngSubmit)="submit()">
  <div mat-dialog-title>
    <div class="ft-actions">
      <button type="button" matIconButton i18n-title title="Close" mat-dialog-close>
        <ft-icon name="arrow-left" class="text-2xl" />
      </button>
    </div>
    <div i18n>Task</div>
  </div>
  <div mat-dialog-content class="!pt-4">
    @if (!task.loading()) {
      <div class="ft-container">
        <div class="grid grid-cols-1 gap-y-2 gap-x-4">
          <mat-form-field class="col-span-1">
            <mat-label i18n>Title</mat-label>
            <input matInput type="text" formControlName="title" maxlength="50" />
            @if (form.get('title')?.invalid && form.get('title')?.touched) {
              <mat-error>{{ form.get('title') | errorMessage }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="col-span-1">
            <mat-label i18n>Description</mat-label>
            <textarea matInput formControlName="description" rows="4" maxlength="250"></textarea>
            @if (form.get('description')?.invalid && form.get('description')?.touched) {
              <mat-error>{{ form.get('description') | errorMessage }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="col-span-1">
            <mat-label i18n>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="pending" i18n>Pending</mat-option>
              <mat-option value="frozen" i18n>Frozen</mat-option>
              <mat-option value="completed" i18n>Completed</mat-option>
            </mat-select>
            @if (form.get('status')?.invalid && form.get('status')?.touched) {
              <mat-error>{{ form.get('status') | errorMessage }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="col-span-1">
            <mat-label i18n>Due Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dueDate" />
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    } @else {
      <div class="ft-center">
        <ft-progress class="ft-progress--3" />
        <div i18n>Loading...</div>
      </div>
    }
  </div>
  <div mat-dialog-actions>
    <button
      type="button"
      matButton="outlined"
      [disabled]="taskMutations.submitting()"
      mat-dialog-close
      i18n
    >
      Cancel
    </button>
    <button
      type="submit"
      matButton="filled"
      color="primary"
      [disabled]="form.invalid || taskMutations.submitting()"
    >
      @if (!taskMutations.submitting()) {
        <span i18n>Save</span>
      } @else {
        <div class="text-center">
          <ft-progress class="ft-progress--2" />
        </div>
      }
    </button>
  </div>
</form>
