<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div #headerElement mat-dialog-title>
    <div class="ft-actions">
      <button type="button" mat-icon-button i18n-title title="Close" mat-dialog-close>
        <ft-icon name="arrow-left" class="ft-icon--2" />
      </button>
    </div>
    <div class="ft-title" i18n>Customer</div>
    <div class="ft-actions"></div>
  </div>
  <div mat-dialog-content>
    <div
      class="ft-observe-interseting"
      (ftObserveIntersecting)="layoutManager.setOverlapped($event, headerElement)"
    ></div>
    <div class="ft-container">
      <mat-form-field>
        <mat-label i18n>First Name</mat-label>
        <input
          matInput
          formControlName="firstName"
          placeholder="Enter first name"
          i18n-placeholder
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Enter last name" i18n-placeholder />
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="Enter email address"
          i18n-placeholder
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n>Phone</mat-label>
        <input
          matInput
          formControlName="phone"
          type="tel"
          placeholder="Enter phone number"
          i18n-placeholder
        />
      </mat-form-field>
    </div>
  </div>
  <div #actionsElement mat-dialog-actions>
    <button
      type="button"
      mat-button
      [disabled]="customerMutations.submitting()"
      mat-dialog-close
      i18n
    >
      Cancel
    </button>
    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="customerMutations.submitting()"
    >
      @if (!customerMutations.submitting()) {
        <span i18n>Submit</span>
      } @else {
        <ng-container *ngTemplateOutlet="submittingTemplate"></ng-container>
      }
    </button>
  </div>
</form>
<ng-template #submittingTemplate>
  <div class="text-center">
    <ft-progress class="ft-progress--2"></ft-progress>
  </div>
</ng-template>
