<div #headerElement class="ft-page__header">
  <button type="button" mat-icon-button i18n-title title="Back" routerLink="/">
    <ft-icon name="arrow-left" class="ft-icon--2" />
  </button>
  <div class="ft-header__title" i18n>Settings</div>
</div>
<div class="ft-page__content ft-anim-enter">
  <div
    class="ft-observe-interseting"
    (ftObserveIntersecting)="layoutManager.setOverlapped($event, headerElement)"
  ></div>
  <div class="ft-container">
    <div class="ft-list">
      @if (authService.settings()) {
        <div class="ft-list__item">
          <div class="ft-item">
            <ft-avatar
              [label]="
                authService.settings()?.user?.firstName +
                ' ' +
                authService.settings()?.user?.lastName
              "
              [src]="authService.settings()?.user?.picture"
            />
            <div>
              <div class="ft-item__label">
                {{ authService.settings()?.user?.firstName }}
                {{ authService.settings()?.user?.lastName }}
              </div>
              <div class="ft-item__note">
                {{ authService.settings()?.user?.email }}
              </div>
            </div>
          </div>
        </div>
      }
      <a routerLink="/settings/language" matRipple class="ft-list__item">
        <div class="ft-item">
          <div class="ft-thumbnail">
            <ft-icon name="globe" class="ft-icon--2" />
          </div>
          <div>
            <div class="ft-item__label" i18n>Language</div>
            <div class="ft-item__note">{{ language().name }}</div>
          </div>
        </div>
      </a>
      <button type="button" matRipple class="ft-list__item" (click)="authService.changePassword()">
        <div class="ft-item">
          <div class="ft-thumbnail">
            <ft-icon name="password-edit" class="ft-icon--2" />
          </div>
          <div class="ft-item__label" i18n>Change password</div>
        </div>
      </button>
      <hr />
      <a
        [href]="'mailto:' + supportEmail + '?subject=' + supportSubject"
        target="_blank"
        matRipple
        class="ft-list__item"
      >
        <div class="ft-item">
          <div class="ft-thumbnail">
            <ft-icon name="help" class="ft-icon--2" />
          </div>
          <div class="ft-item__label" i18n>Support</div>
        </div>
      </a>
      <button
        type="button"
        matRipple
        class="ft-list__item"
        (click)="appManager.openPage('8a1b8db9-9d9d-41a3-8ab9-d54771f4a13d')"
      >
        <div class="ft-item">
          <div class="ft-thumbnail">
            <ft-icon name="document--text" class="ft-icon--2" />
          </div>
          <div class="ft-item__label" i18n>Terms and Conditions</div>
        </div>
      </button>
      <button
        type="button"
        matRipple
        class="ft-list__item"
        (click)="appManager.openPage('45cc8cfb-8667-44d1-81f4-1c1bdb939cd8')"
      >
        <div class="ft-item">
          <div class="ft-thumbnail">
            <ft-icon name="document--text" class="ft-icon--2" />
          </div>
          <div class="ft-item__label" i18n>Privacy Policies</div>
        </div>
      </button>
      <hr />
      <button type="button" matRipple class="ft-list__item" (click)="authService.logout()">
        <div class="ft-item">
          <div class="ft-thumbnail">
            <ft-icon name="sign-out" class="ft-icon--2" />
          </div>
          <div class="ft-item__label" i18n>Sign out</div>
        </div>
      </button>
      <button
        type="button"
        matRipple
        class="ft-list__item ft-tc-danger"
        (click)="authService.confirmDeleteUser()"
      >
        <div class="ft-item">
          <div class="ft-thumbnail" style="background-color: var(--ft-body-bg)">
            <ft-icon name="error" class="ft-icon--2 ft-tc-danger" />
          </div>
          <div class="ft-item__label" i18n>Delete account</div>
        </div>
      </button>
    </div>
    <div class="ft-card ft-m-2">
      <div class="ft-card__body ft-item">
        @if (appManager.updateStatus() === 'done') {
          <div class="ft-thumbnail" style="background-color: var(--ft-body-bg)">
            <ft-icon name="check--circle" class="ft-icon--2 ft-tc-success" />
          </div>
          <div class="ft-fg-1">
            <div class="ft-item__label" i18n>{{ appManager.name }} is up to date</div>
            <div class="ft-item__note" i18n>Version {{ appManager.version }}</div>
          </div>
        } @else if (appManager.updateStatus() === 'checking') {
          <div class="ft-thumbnail" style="background-color: var(--ft-body-bg)">
            <ft-progress class="ft-progress--2"></ft-progress>
          </div>
          <div class="ft-fg-1">
            <div class="ft-item__label" i18n>Looking for updates</div>
            <div class="ft-item__note" i18n>Version {{ appManager.version }}</div>
          </div>
        } @else if (appManager.updateStatus() === 'failed') {
          <div class="ft-thumbnail" style="background-color: var(--ft-body-bg)">
            <ft-icon name="warning" class="ft-icon--2 ft-tc-warning" />
          </div>
          <div class="ft-fg-1">
            <div class="ft-item__label" i18n>Error checking for updates</div>
            <div class="ft-item__note" i18n>Version {{ appManager.version }}</div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
<ng-template #subscriptionTemplate>
  <div mat-dialog-content class="ft-pbe-0">
    <div style="margin-top: -1rem; margin-left: -1.25rem; margin-bottom: 1rem">
      <button type="button" mat-icon-button mat-dialog-close i18n-title title="Back" ftLeft>
        <ft-icon name="arrow-left" class="ft-icon--2" />
      </button>
    </div>
    <app-subscription-detail />
    <div
      class="ft-observe-interseting"
      (ftObserveIntersecting)="layoutManager.setOverlapped($event, actionsElement)"
    ></div>
  </div>
  <div #actionsElement mat-dialog-actions class="ft-jc-c">
    <button
      type="button"
      mat-flat-button
      color="primary"
      class="ft-controlbar__item"
      style="min-width: 180px"
      (click)="subscribe()"
      [disabled]="subscribing()"
    >
      @if (!subscribing()) {
        <span i18n>Subscribe</span>
      } @else {
        <ng-container *ngTemplateOutlet="submittingTemplate" />
      }
    </button>
  </div>
</ng-template>
<ng-template #submittingTemplate>
  <div class="ft-ta-c">
    <ft-progress class="ft-progress--2"></ft-progress>
  </div>
</ng-template>
